In [1]:
import pandas as pd
import numpy as np

from pandas.api.types import CategoricalDtype

In [2]:
# data = pd.read_csv("FIFA 1982-2018 - Cleaned.csv")
data = pd.read_csv("FIFA Data 1990-2018.csv")
# data = pd.read_csv("temp.csv")

In [3]:
data.head()

,Team1,Team2,Rounds,Year,Score1,Score2,Ranking T1,Score T1,Ranking T2,Score T2,Winner
0,Russia,Saudi Arabia,Group Phase,2018,5,0,70.0,457.0,67.0,465.0,1
1,Egypt,Uruguay,Group Phase,2018,0,1,45.0,649.0,14.0,1018.0,2
2,Morocco,IR Iran,Group Phase,2018,0,1,41.0,686.0,37.0,708.0,2
3,Portugal,Spain,Group Phase,2018,3,3,4.0,1274.0,10.0,1126.0,0
4,France,Australia,Group Phase,2018,2,1,7.0,1198.0,36.0,718.0,1

In [4]:
data.columns

Index(['Team1', 'Team2', 'Rounds', 'Year', 'Score1', 'Score2', 'Ranking T1',
       'Score T1', 'Ranking T2', 'Score T2', 'Winner'],
      dtype='object')

In [5]:
testInd = np.array(data.loc[data.Year == 2018].index)

In [6]:
trainInd = list(np.array(data.loc[data.Year == 2014].index)) + list(np.array(data.loc[data.Year == 2010].index)) + list(np.array(data.loc[data.Year == 2006].index)) + list(np.array(data.loc[data.Year == 2002].index)) # + list(np.array(data.loc[data.Year == 1998].index)) + list(np.array(data.loc[data.Year == 1994].index))

In [7]:
train = data.iloc[trainInd]
test = data.iloc[testInd]

In [8]:
len(test)

64

In [9]:
len(train)

256

In [10]:
trainCountries = set(train.Team1).union(set(train.Team2))

In [11]:
trainCountries

{'Algeria',
 'Angola',
 'Argentina',
 'Australia',
 'Belgium',
 'Bosnia and Herzegovina',
 'Brazil',
 'Cameroon',
 'Chile',
 'China PR',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Czech Republic',
 "Côte d'Ivoire",
 'Denmark',
 'Ecuador',
 'England',
 'France',
 'Germany',
 'Ghana',
 'Greece',
 'Honduras',
 'IR Iran',
 'Italy',
 'Japan',
 'Korea DPR',
 'Korea Republic',
 'Mexico',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'Paraguay',
 'Poland',
 'Portugal',
 'Republic of Ireland',
 'Russia',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia and Montenegro',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sweden',
 'Switzerland',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'USA',
 'Ukraine',
 'Uruguay'}

In [12]:
testCountries = set(test.Team1).union(set(test.Team2))

In [13]:
testCountries-trainCountries

{'Egypt', 'Iceland', 'Morocco', 'Panama', 'Peru'}

## Population
https://ourworldindata.org/world-population-growth  
http://worldpopulationreview.com/countries/

http://world.bymap.org/LandArea.html

Korea Republic = South Korea  
England = United Kingdom  
Serbia + Montenegro = Serbia and Montenegro (to be verified)  
Korea DPR = North Korea

In [14]:
population_2002_2006_2010_2014_2018 = {'Algeria':[32e6,33.78e6,36.12e6,39.11e6,42.00e6],
                                  'Angola':[17.57e6,20.26e6,23.37e6,26.92e6,30.77e6],
                                  'Argentina':[37.89e6,39.56e6,41.22e6,42.98e6,44.68e6],
                                  'Australia':[19.48e6,20.57e6,22.12e6,23.47e6,24.77e6],
                                  'Belgium':[10.36e6,10.62e6,10.94e6,11.22e6,11.49e6],
                                  'Bosnia and Herzegovina':[3.78e6,3.78e6,3.72e6,3.57e6,3.50e6],
                                  'Brazil':[180.15e6,189.01e6,196.8e6,204.21e6,210.86e6],
                                  'Cameroon':[16.08e6,17.9e6,19.97e6,22.24e6,24.67e6],
                                  'Chile':[15.62e6,16.32e6,16.99e6,17.61e6,18.19e6],
                                  'China PR':[1.3e9,1.33e9,1.36e9,1.39e9,1.41e9],
                                  'Colombia':[41.57e6,43.84e6,45.92e6,47.79e6,49.46e6],
                                  'Costa Rica':[4.06e6,4.31e6,4.55e6,4.76e6,4.95e6],
                                  'Croatia':[4.4e6,4.37e6,4.33e6,4.26e6,4.16e6],
                                  'Czech Republic':[10.25e6,10.3e6,10.54e6,10.6e6,10.62e6],
                                  'Côte d\'Ivoire':[17.37e6,18.7e6,20.4e6,22.53e6,24.90e6],
                                  'Denmark':[5.37e6,5.44e6,5.55e6,5.66e6,5.75e6],
                                  'Ecuador':[13.07e6,13.97e6,14.93e6,15.9e6,16.86e6],
                                  'Egypt':[72.59e6,78.16e6,84.11e6,91.81e6,99.37e6],
                                  'England':[59.35e6,60.8e6,63.31e6,65.02e6,66.57e6],
                                  'France':[60.23e6,61.59e6,63.03e6,64.19e6,65.23e6],
                                  'Germany':[81.61e6,81.54e6,80.89e6,81.49e6,82.29e6],
                                  'Ghana':[19.92e6,22.11e6,24.51e6,26.96e6,29.46e6],
                                  'Greece':[11.22e6,11.34e6,11.45e6,11.26e6,11.14e6],
                                  'Honduras':[6.86e6,7.54e6,8.19e6,8.81e6,9.41e6],
                                  'Iceland':[285329,299728,320328,328459,337780],
                                  'IR Iran':[67.98e6,71.23e6,74.57e6,78.41e6,82.01e6],
                                  'Italy':[57.8e6,59.08e6,59.73e6,59.59e6,59.29e6],
                                  'Japan':[127.9e6,128.43e6,128.55e6,128.16e6,127.18e6],
                                  'Korea Republic':[48e6,48.9e6,49.55e6,50.39e6,51.16e6],
                                  'Korea DPR':[23.34e6,24.06e6,24.59e6,25.12e6,25.61e6],
                                  'Mexico':[104.36e6,110.09e6,117.32e6,124.22e6,130.75e6],
                                  'Morocco':[29.51e6,30.87e6,32.41e6,34.32e6,36.19e6],
                                  'Netherlands':[16.11e6,16.44e6,16.68e6,16.89e6,17.08e6],
                                  'New Zealand':[3.96e6,4.19e6,4.37e6,4.57e6,4.74e6],
                                  'Nigeria':[128.67e6,142.61e6,162.88e6,176.46e6,195.87e6],
                                  'Panama':[3.15e6,3.39e6,3.64e6,3.9e6,4.16e6],
                                  'Paraguay':[5.51e6,5.88e6,6.21e6,6.55e6,6.89e6],
                                  'Peru':[26.6e6,27.95e6,29.37e6,30.97e6,32.55e6],
                                  'Poland':[38.48e6,38.34e6,38.32e6,38.29e6,38.10e6],
                                  'Portugal':[10.44e6,10.6e6,10.65e6,10.47e6,10.29e6],
                                  'Republic of Ireland':[3.98e6,4.3e6,4.63e6,4.69e6,4.8e6],
                                  'Russia':[145.19e6,143.32e6,143.15e6,143.76e6,143.96e6],
                                  'Saudi Arabia':[21.91e6,24.58e6,27.43e6,30.78e6,33.55e6],
                                  'Senegal':[10.4e6,11.56e6,12.92e6,14.55e6,16.29e6],
                                  'Serbia':[7.50e6,7.41e6,7.29e6,7.13e6,8.76e6],
                                  'Slovakia':[5.4e6,5.4e6,5.4e6,5.43e6,5.44e6],
                                  'Montenegro':[613382,617832,624285,627674,629219],
                                  'Serbia and Montenegro':[8.11e6,8.02e6,7.91e6,7.75e6,9.38e6],
                                  'Slovenia':[1.99e6,2e6,2.05e6,2.07e6,2.08e6],
                                  'South Africa':[47.03e6,49.36e6,51.58e6,54.54e6,57.39e6],
                                  'Spain':[41.99e6,44.73e6,46.79e6,46.52e6,46.39e6],
                                  'Sweden':[8.92e6,9.1e6,9.39e6,9.69e6,9.98e6],
                                  'Switzerland':[7.24e6,7.48e6,7.83e6,8.23e6,8.54e6],
                                  'Togo':[5.25e6,5.84e6,6.5e6,7.23e6,7.99e6],
                                  'Trinidad and Tobago':[1.28e6,1.3e6,1.33e6,1.35e6,1.37e6],
                                  'Tunisia':[9.86e6,10.2e6,10.64e6,11.14e6,11.65e6],
                                  'Turkey':[65.14e6,68.76e6,72.33e6,77.03e6,81.91e6],
                                  'USA':[287.51e6,297.83e6,308.64e6,317.72e6,326.76e6],
                                  'Ukraine':[47.98e6,46.62e6,45.79e6,44.88e6,44.00e6],
                                  'Uruguay':[3.33e6,3.33e6,3.37e6,3.42e6,3.46e6]}

In [15]:
countries_area_km_square = {'Algeria':2381741,
                  'Angola':1246700,
                  'Argentina':2736690,
                  'Australia':7682300,
                  'Belgium':30278,
                  'Bosnia and Herzegovina':51187,
                  'Brazil':8358140,
                  'Cameroon':472710,
                  'China PR':9326410,
                  'Chile':743812,
                  'Colombia':1038700,
                  'Costa Rica':51060,
                  'Croatia':55974,
                  'Czech Republic':77247,
                  'Côte d\'Ivoire':318003,
                  'Denmark':42434,
                  'Ecuador':276841,
                  'Egypt':995450,
                  'England':241930,
                  'France':549970,
                  'Germany':348672,
                  'Ghana':227533,
                  'Greece':130647,
                  'Honduras':111890,
                  'Iceland':100250,
                  'IR Iran':1531595,
                  'Italy':294140,
                  'Japan':364485,
                  'Korea DPR':120408,
                  'Korea Republic':96920,
                  'Mexico':1943945,
                  'Morocco':446300,
                  'Netherlands':33893,
                  'New Zealand':264537,
                  'Nigeria':910768,
                  'Panama':74340,
                  'Paraguay':397302,
                  'Peru':1279996,
                  'Poland':304255,
                  'Portugal':91470,
                  'Republic of Ireland':68883,
                  'Russia':16377742,
                  'Saudi Arabia':2149690,
                  'Senegal':192530,
                  'Serbia':77474,
                  'Slovakia':48105,
                  'Montenegro':13452,
                  'Serbia and Montenegro':77474+13452,
                  'Slovenia':20151,
                  'South Africa':1214470,
                  'Spain':498980,
                  'Sweden':410335,
                  'Switzerland':39997,
                  'Togo':54385,
                  'Trinidad and Tobago':5128,
                  'Tunisia':155360,
                  'Turkey':769632,
                  'USA':9147593,
                  'Ukraine':579330,
                  'Uruguay':175015}

In [16]:
train.head()

,Team1,Team2,Rounds,Year,Score1,Score2,Ranking T1,Score T1,Ranking T2,Score T2,Winner
64,Brazil,Croatia,Group Phase,2014,3,1,3.0,1242.0,18.0,903.0,1
65,Mexico,Cameroon,Group Phase,2014,1,0,20.0,882.0,56.0,558.0,1
66,Spain,Netherlands,Group Phase,2014,1,5,1.0,1485.0,15.0,981.0,2
67,Chile,Australia,Group Phase,2014,3,1,14.0,1026.0,62.0,526.0,1
68,Colombia,Greece,Group Phase,2014,3,0,8.0,1137.0,12.0,1064.0,1

In [17]:
len(train)

256

In [18]:
train2 = train[['Team2', 'Team1', 'Rounds', 'Year', 'Score2', 'Score1', 'Ranking T2', 'Score T2', 'Ranking T1', 'Score T1', 'Winner']]
train2.columns = ['Team1', 'Team2', 'Rounds', 'Year', 'Score1', 'Score2', 'Ranking T1', 'Score T1', 'Ranking T2', 'Score T2', 'Winner']
train = train.append(train2, ignore_index=True)

In [ ]:
sumScore = []
for i in range(len(train)):
    sumScore = train['Score1'] + train['Score2']
train['Sum Scores'] = sumScore

In [ ]:
train.head()

,Team1,Team2,Rounds,Year,Score1,Score2,Ranking T1,Score T1,Ranking T2,Score T2,Winner,Sum Scores
0,Brazil,Croatia,Group Phase,2014,3,1,3.0,1242.0,18.0,903.0,1,4
1,Mexico,Cameroon,Group Phase,2014,1,0,20.0,882.0,56.0,558.0,1,1
2,Spain,Netherlands,Group Phase,2014,1,5,1.0,1485.0,15.0,981.0,2,6
3,Chile,Australia,Group Phase,2014,3,1,14.0,1026.0,62.0,526.0,1,4
4,Colombia,Greece,Group Phase,2014,3,0,8.0,1137.0,12.0,1064.0,1,3

In [ ]:
# train.iloc[[256,257,258]]

In [ ]:
train = train.drop(['Team2','Score2','Ranking T2', 'Score T2', 'Winner'],axis=1)
train.columns = ['Team','Rounds','Year','Score','FIFA Ranking','FIFA Score','Sum Scores']

In [ ]:
train.head()

       Team       Rounds  Year  Score  FIFA Ranking  FIFA Score  Sum Scores
0    Brazil  Group Phase  2014      3           3.0      1242.0           4
1    Mexico  Group Phase  2014      1          20.0       882.0           1
2     Spain  Group Phase  2014      1           1.0      1485.0           6
3     Chile  Group Phase  2014      3          14.0      1026.0           4
4  Colombia  Group Phase  2014      3           8.0      1137.0           3

In [ ]:
ytrain = (train['Score']/train['Sum Scores']).fillna(0)

In [ ]:
test2 = test[['Team2', 'Team1', 'Rounds', 'Year', 'Score2', 'Score1', 'Ranking T2', 'Score T2', 'Ranking T1', 'Score T1', 'Winner']]
test2.columns = ['Team1', 'Team2', 'Rounds', 'Year', 'Score1', 'Score2', 'Ranking T1', 'Score T1', 'Ranking T2', 'Score T2', 'Winner']
test = test.append(test2, ignore_index=True)

sumScore = []
for i in range(len(test)):
    sumScore = test['Score1'] + test['Score2']
test['Sum Scores'] = sumScore

test = test.drop(['Team2','Score2','Ranking T2', 'Score T2', 'Winner'],axis=1)
test.columns = ['Team','Rounds','Year','Score','FIFA Ranking','FIFA Score','Sum Scores']

In [ ]:
indPop = {2002:0,2006:1,2010:2,2014:3,2018:4}

popTrain = []
for i in range(len(train)):
    popTrain.append(population_2002_2006_2010_2014_2018[train['Team'][i]][indPop[train['Year'][i]]])
    
train['Population'] = popTrain

In [ ]:
surTrain = []
for i in range(len(train)):
    surTrain.append(countries_area_km_square[train['Team'][i]])
    
train['Surface'] = surTrain

In [ ]:
popTest = []
for i in range(len(test)):
    popTest.append(population_2002_2006_2010_2014_2018[test['Team'][i]][indPop[test['Year'][i]]])
    
test['Population'] = popTest

In [ ]:
surTest = []
for i in range(len(test)):
    surTest.append(countries_area_km_square[test['Team'][i]])
    
test['Surface'] = surTest

In [ ]:
rounds_encoded = {'Group Phase':1, 'Round of 16':2, 'Quarter Finals':3, 'Semi Finals':4,
                  'Play-off for third place':5, 'Finals':6}

In [ ]:
for i in range(len(train)):
    train.Rounds[i] = rounds_encoded[train.Rounds[i]]

C:\Users\ASUS\Anaconda3\envs\python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
for i in range(len(test)):
    test.Rounds[i] = rounds_encoded[test.Rounds[i]]

C:\Users\ASUS\Anaconda3\envs\python\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
ytest = (test['Score']/test['Sum Scores']).fillna(0)

In [ ]:
Xtrain = train.drop(['Team','Year','Score','Sum Scores'],axis=1)

In [ ]:
Xtest = test.drop(['Team','Year','Score','Sum Scores'],axis=1)

In [ ]:
# Xtrain['Rounds'] = Xtrain['Rounds'].astype('category')
Xtrain['Rounds'] = pd.Categorical(Xtrain['Rounds'], ordered=True)
# Xtest['Rounds'] = Xtest['Rounds'].astype('category')
Xtest['Rounds'] = pd.Categorical(Xtest['Rounds'], ordered=True)

In [ ]:
maxSc = max(Xtrain['FIFA Score'])
minSc = min(Xtrain['FIFA Score'])

Xtrain['FIFA Score'] = (Xtrain['FIFA Score'] - minSc) / (maxSc - minSc)
Xtest['FIFA Score'] = (Xtest['FIFA Score'] - minSc) / (maxSc - minSc)

In [ ]:
maxSc = max(Xtrain['Population'])
minSc = min(Xtrain['Population'])

Xtrain['Population'] = (Xtrain['Population'] - minSc) / (maxSc - minSc)
Xtest['Population'] = (Xtest['Population'] - minSc) / (maxSc - minSc)

In [ ]:
maxSc = max(Xtrain['Surface'])
minSc = min(Xtrain['Surface'])

Xtrain['Surface'] = (Xtrain['Surface'] - minSc) / (maxSc - minSc)
Xtest['Surface'] = (Xtest['Surface'] - minSc) / (maxSc - minSc)

In [ ]:
Xtrain.head()

In [ ]:
cat_type = CategoricalDtype(ordered=True)

Xtrain['FIFA Ranking'] = Xtrain['FIFA Ranking'].astype(cat_type)
Xtest['FIFA Ranking'] = Xtest['FIFA Ranking'].astype(cat_type)

# Xtrain['FIFA Score'] = Xtrain['FIFA Score'].astype(cat_type)
# Xtest['FIFA Score'] = Xtest['FIFA Score'].astype(cat_type)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
# from sklearn.tree import DecisionTreeRegressor

# model = LinearRegression()
# model = RandomForestRegressor(max_depth=1000, random_state=0, n_estimators=100)
model = AdaBoostRegressor(base_estimator = RandomForestRegressor(max_depth=100),n_estimators=50)

model.fit(Xtrain, ytrain)

In [ ]:
pred = model.predict(Xtest)

In [ ]:
test.head()

In [ ]:
data.head()

In [ ]:
winner = []

for i in range(len(pred)//2):
    if pred[i] > pred[i+64]:
        winner.append(1)
    elif pred[i] == pred[i+64]:
        winner.append(0)
    else:
        winner.append(2)

In [ ]:
np.array(winner)

In [ ]:
np.array(data.loc[data.Year == 2018]['Winner'])

In [ ]:
ytest_true = data.loc[data.Year == 2018]['Winner']

In [ ]:
sum(ytest_true == winner)/len(winner)*100

In [ ]:
Xtest.head()

In [ ]:
pred

In [ ]:
Xtrain