In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from datetime import datetime as dt
import itertools


from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm


from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

from keras.utils import np_utils

%matplotlib inline

Using TensorFlow backend.

# Load the Dataset

In [2]:
df = pd.read_csv("../datasets/FIFA 1990-2018 - Cleaned.csv")
squads = pd.read_csv("../datasets/New_data/2018 FIFA World Cup Squads.csv")
fifa18 = pd.read_csv("../datasets/New_data/complete.csv")
distance = pd.read_csv("../datasets/New_data/distance.csv", error_bad_lines=False)
fifa_ranking = pd.read_csv("../datasets/New_data/fifa_ranking.csv")

b'Skipping line 31: expected 4 fields, saw 5\nSkipping line 63: expected 4 fields, saw 5\nSkipping line 85: expected 4 fields, saw 5\nSkipping line 102: expected 4 fields, saw 5\nSkipping line 173: expected 4 fields, saw 5\nSkipping line 174: expected 4 fields, saw 5\nSkipping line 196: expected 4 fields, saw 5\nSkipping line 203: expected 4 fields, saw 5\nSkipping line 204: expected 4 fields, saw 5\nSkipping line 207: expected 4 fields, saw 5\nSkipping line 211: expected 4 fields, saw 5\nSkipping line 213: expected 4 fields, saw 5\n'

# Select data for 2018

In [3]:
ranking_2018 = fifa_ranking[(fifa_ranking['rank_date']>"2018-04-01") & (fifa_ranking['rank_date']<"2018-05-01")]
df=df[df.Year == 2018]
ranking_2018.shape

(211, 17)

# change names

In [4]:
squads=squads.replace({"South Korea":"Korea Republic"})
squads=squads.replace({"Korea Republic":"Korea Republic"})
squads = squads.replace({"Iran":"IR Iran"})

# Duplicate

In [5]:
# we should change all respective column for duplicate
for index,row in df.iterrows():
    df.set_value(index+64,["Team1","Team2","Rounds","Stadium","City","Time","Day","Month","Year","Score1","Score2","Remarks"],[row["Team2"],row["Team1"],row["Rounds"],row['Stadium'],row['City'],row['Time'],row["Day"],row["Month"],row["Year"],row["Score2"],row["Score1"],row['Remarks']])
df.shape

/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

(128, 12)

In [6]:
# Create new columns with ranking position of each team
df.insert(2, 'rank_Team1', df['Team1'].map(ranking_2018.set_index('country_full')['rank']))
df.insert(3, 'rank_Team2', df['Team2'].map(ranking_2018.set_index('country_full')['rank']))

df.insert(4, 'rank_change_Team1', df['Team1'].map(ranking_2018.set_index('country_full')['rank_change']))
df.insert(5, 'rank_change_Team2', df['Team2'].map(ranking_2018.set_index('country_full')['rank_change']))

In [7]:
df.isnull().sum()

Team1                  0
Team2                  0
rank_Team1             0
rank_Team2             0
rank_change_Team1      0
rank_change_Team2      0
Rounds                 0
Stadium                0
City                   0
Time                   0
Day                    0
Month                  0
Year                   0
Score1                 0
Score2                 0
Remarks              100
dtype: int64

# Add Team features

In [8]:
# #AVG Age of each team in each position
age_avg=squads.groupby(["Team","Position"])['Age'].sum()/squads.groupby(["Team","Position"])['Age'].size()
age_avg = age_avg.to_frame()

age_avg['Team_name'] = age_avg.index.get_level_values(0).tolist()
age_avg['pos'] = age_avg.index.get_level_values(1).tolist()

In [9]:
age_DF = age_avg.loc[age_avg['pos'] == 'DF']
age_FW = age_avg.loc[age_avg['pos'] == 'FW']
age_GK = age_avg.loc[age_avg['pos'] == 'GK']
age_MF = age_avg.loc[age_avg['pos'] == 'MF']

In [10]:
df.head()

,Team1,Team2,rank_Team1,rank_Team2,rank_change_Team1,rank_change_Team2,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,66,70,-3,-1,Group Phase,Luzhniki Stadium,Moscow,18:00,14.0,6.0,2018.0,5.0,0.0,NaN
1,Egypt,Uruguay,46,17,-2,5,Group Phase,Ekaterinburg Arena,Ekaterinburg,17:00,15.0,6.0,2018.0,0.0,1.0,NaN
2,Morocco,IR Iran,42,36,0,-3,Group Phase,Saint Petersburg Stadium,St. Petersburg,18:00,15.0,6.0,2018.0,0.0,1.0,NaN
3,Portugal,Spain,4,8,-1,-2,Group Phase,Fisht Stadium,Sochi,21:00,15.0,6.0,2018.0,3.0,3.0,{WinTeamName} win on aggregate after regular t...
4,France,Australia,7,40,2,-3,Group Phase,Kazan Arena,Kazan,13:00,16.0,6.0,2018.0,2.0,1.0,NaN

In [11]:
df.insert(2, 'Team1_avg_age_DF', df['Team1'].map(age_DF.set_index('Team_name')['Age']))
df.insert(3, 'Team1_avg_age_FW', df['Team1'].map(age_FW.set_index('Team_name')['Age']))
df.insert(4, 'Team1_avg_age_GK', df['Team1'].map(age_GK.set_index('Team_name')['Age']))
df.insert(5, 'Team1_avg_age_MF', df['Team1'].map(age_MF.set_index('Team_name')['Age']))

In [12]:
df.insert(6, 'Team2_avg_age_DF', df['Team2'].map(age_DF.set_index('Team_name')['Age']))
df.insert(7, 'Team2_avg_age_FW', df['Team2'].map(age_FW.set_index('Team_name')['Age']))
df.insert(8, 'Team2_avg_age_GK', df['Team2'].map(age_GK.set_index('Team_name')['Age']))
df.insert(9, 'Team2_avg_age_MF', df['Team2'].map(age_MF.set_index('Team_name')['Age']))

In [13]:
df.isnull().sum()

Team1                  0
Team2                  0
Team1_avg_age_DF       0
Team1_avg_age_FW       0
Team1_avg_age_GK       0
Team1_avg_age_MF       0
Team2_avg_age_DF       0
Team2_avg_age_FW       0
Team2_avg_age_GK       0
Team2_avg_age_MF       0
rank_Team1             0
rank_Team2             0
rank_change_Team1      0
rank_change_Team2      0
Rounds                 0
Stadium                0
City                   0
Time                   0
Day                    0
Month                  0
Year                   0
Score1                 0
Score2                 0
Remarks              100
dtype: int64

In [14]:
#AVG Caps of each team per position
caps_avg = squads.groupby(["Team","Position"])['Caps'].sum()/squads.groupby(["Team","Position"])['Caps'].size()
caps_avg = caps_avg.to_frame()

caps_avg['Team_name'] = caps_avg.index.get_level_values(0).tolist()
caps_avg['pos'] = caps_avg.index.get_level_values(1).tolist()

In [15]:
# caps_avg = caps_avg.replace({"Iran":"IR Iran"})
# caps_avg = caps_avg.replace({"Korea Republic":"South Korea"})
# caps_avg.head()

In [16]:
caps_DF = caps_avg.loc[age_avg['pos'] == 'DF']
caps_FW = caps_avg.loc[age_avg['pos'] == 'FW']
caps_GK = caps_avg.loc[age_avg['pos'] == 'GK']
caps_MF = caps_avg.loc[age_avg['pos'] == 'MF']

In [17]:
df.insert(10, 'Team1_avg_caps_DF', df['Team1'].map(caps_DF.set_index('Team_name')['Caps']))
df.insert(11, 'Team1_avg_caps_FW', df['Team1'].map(caps_FW.set_index('Team_name')['Caps']))
df.insert(12, 'Team1_avg_caps_GK', df['Team1'].map(caps_GK.set_index('Team_name')['Caps']))
df.insert(13, 'Team1_avg_caps_MF', df['Team1'].map(caps_MF.set_index('Team_name')['Caps']))

df.insert(14, 'Team2_avg_caps_DF', df['Team2'].map(caps_DF.set_index('Team_name')['Caps']))
df.insert(15, 'Team2_avg_caps_FW', df['Team2'].map(caps_FW.set_index('Team_name')['Caps']))
df.insert(16, 'Team2_avg_caps_GK', df['Team2'].map(caps_GK.set_index('Team_name')['Caps']))
df.insert(17, 'Team2_avg_caps_MF', df['Team2'].map(caps_MF.set_index('Team_name')['Caps']))

In [18]:
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,Group Phase,Luzhniki Stadium,Moscow,18:00,14.0,6.0,2018.0,5.0,0.0,NaN
1,Egypt,Uruguay,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,Group Phase,Ekaterinburg Arena,Ekaterinburg,17:00,15.0,6.0,2018.0,0.0,1.0,NaN
2,Morocco,IR Iran,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,Group Phase,Saint Petersburg Stadium,St. Petersburg,18:00,15.0,6.0,2018.0,0.0,1.0,NaN
3,Portugal,Spain,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,Group Phase,Fisht Stadium,Sochi,21:00,15.0,6.0,2018.0,3.0,3.0,{WinTeamName} win on aggregate after regular t...
4,France,Australia,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,Group Phase,Kazan Arena,Kazan,13:00,16.0,6.0,2018.0,2.0,1.0,NaN

In [19]:
df.isnull().sum()

Team1                  0
Team2                  0
Team1_avg_age_DF       0
Team1_avg_age_FW       0
Team1_avg_age_GK       0
Team1_avg_age_MF       0
Team2_avg_age_DF       0
Team2_avg_age_FW       0
Team2_avg_age_GK       0
Team2_avg_age_MF       0
Team1_avg_caps_DF      0
Team1_avg_caps_FW      0
Team1_avg_caps_GK      0
Team1_avg_caps_MF      0
Team2_avg_caps_DF      0
Team2_avg_caps_FW      0
Team2_avg_caps_GK      0
Team2_avg_caps_MF      0
rank_Team1             0
rank_Team2             0
rank_change_Team1      0
rank_change_Team2      0
Rounds                 0
Stadium                0
City                   0
Time                   0
Day                    0
Month                  0
Year                   0
Score1                 0
Score2                 0
Remarks              100
dtype: int64

# change Rounds

In [20]:
rounds = df.Rounds
rounds.unique()
rounds_dict = {"Group Phase":1, "Round of 16":2, "Quarter Finals":3, "Semi Finals":4, "Play-off for third place":5, "Finals":6}
rounds_encoded = []

for i in range(len(df)):
    rounds_encoded.append(rounds_dict[list(df.Rounds)[i]])
    
df["Rounds"] = rounds_encoded

In [21]:
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,1,Luzhniki Stadium,Moscow,18:00,14.0,6.0,2018.0,5.0,0.0,NaN
1,Egypt,Uruguay,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,1,Ekaterinburg Arena,Ekaterinburg,17:00,15.0,6.0,2018.0,0.0,1.0,NaN
2,Morocco,IR Iran,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,1,Saint Petersburg Stadium,St. Petersburg,18:00,15.0,6.0,2018.0,0.0,1.0,NaN
3,Portugal,Spain,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,1,Fisht Stadium,Sochi,21:00,15.0,6.0,2018.0,3.0,3.0,{WinTeamName} win on aggregate after regular t...
4,France,Australia,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,1,Kazan Arena,Kazan,13:00,16.0,6.0,2018.0,2.0,1.0,NaN

# Player Features

In [22]:
# fifa18 = fifa18.replace({"South Korea":"Korea Republic"})
wc_player_stats_18 = fifa18[fifa18["name"].isin(squads.Player) | fifa18["full_name"].isin(squads.Player)]
wc_fifa18_stats = fifa18[fifa18.nationality.isin(squads.Team)]

In [23]:
wc_fifa18_stats.replace([False,"False",True,"True"],[0,0,1,1])
unused_var=[]
for i in fifa18.columns:
    if "prefers" in i:
        unused_var.append(i)
wc_fifa18_stats = wc_fifa18_stats.drop(["club_logo","ID","real_face","birth_date","flag","photo"],axis=1)
wc_fifa18_stats = wc_fifa18_stats.drop(unused_var,axis=1)
grouped_wc_fifa18_stats = wc_fifa18_stats.groupby(['nationality']).apply(lambda x: (x.sort_values('overall',ascending=False)).head(30).mean()).sort_values('potential',ascending=True)
grouped_wc_fifa18_stats.head()

,special,age,height_cm,weight_kg,eur_value,eur_wage,eur_release_clause,overall,potential,pac,...,playmaker_speciality,engine_speciality,distance_shooter_speciality,crosser_speciality,free_kick_specialist_speciality,tackling_speciality,tactician_speciality,acrobat_speciality,strength_speciality,clinical_finisher_speciality
nationality,,,,,,,,,,,,,,,,,,,,,
Panama,1617.375000,25.812500,181.750000,76.500000,8.378125e+05,3312.500000,1.344812e+06,65.812500,69.437500,66.062500,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.062500,0.0
Tunisia,1677.966667,27.266667,182.700000,76.666667,2.261167e+06,11700.000000,2.739000e+06,68.966667,71.533333,66.200000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.033333,0.0
Costa Rica,1695.966667,26.433333,181.000000,75.400000,3.196167e+06,18033.333333,5.612536e+06,69.900000,72.000000,73.400000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.066667,0.0
Iceland,1771.000000,27.233333,184.066667,78.200000,2.607500e+06,16700.000000,4.797357e+06,70.033333,72.166667,67.766667,...,0.0,0.1,0.0,0.033333,0.033333,0.0,0.0,0.000000,0.000000,0.0
Peru,1651.965517,25.517241,178.931034,73.896552,2.122069e+06,6620.689655,5.940867e+06,69.137931,72.689655,69.551724,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.034483,0.000000,0.0

In [24]:
grouped_wc_fifa18_stats['Team_name'] = grouped_wc_fifa18_stats.index.get_level_values(0).tolist()

In [25]:
grouped_wc_fifa18_stats = grouped_wc_fifa18_stats.replace({"Iran":"IR Iran"})
grouped_wc_fifa18_stats = grouped_wc_fifa18_stats.replace({"South Korea":"Korea Republic"})
# grouped_wc_fifa18_stats.head()

In [26]:
df.isnull().sum()

Team1                  0
Team2                  0
Team1_avg_age_DF       0
Team1_avg_age_FW       0
Team1_avg_age_GK       0
Team1_avg_age_MF       0
Team2_avg_age_DF       0
Team2_avg_age_FW       0
Team2_avg_age_GK       0
Team2_avg_age_MF       0
Team1_avg_caps_DF      0
Team1_avg_caps_FW      0
Team1_avg_caps_GK      0
Team1_avg_caps_MF      0
Team2_avg_caps_DF      0
Team2_avg_caps_FW      0
Team2_avg_caps_GK      0
Team2_avg_caps_MF      0
rank_Team1             0
rank_Team2             0
rank_change_Team1      0
rank_change_Team2      0
Rounds                 0
Stadium                0
City                   0
Time                   0
Day                    0
Month                  0
Year                   0
Score1                 0
Score2                 0
Remarks              100
dtype: int64

In [27]:
for key in grouped_wc_fifa18_stats.keys():
    if key != 'Team_name':
        df.insert(12, 'Team2_'+key, df['Team2'].map(grouped_wc_fifa18_stats.set_index('Team_name')[key]))
        df.insert(12, 'Team1_'+key, df['Team1'].map(grouped_wc_fifa18_stats.set_index('Team_name')[key]))

In [28]:
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,1,Luzhniki Stadium,Moscow,18:00,14.0,6.0,2018.0,5.0,0.0,NaN
1,Egypt,Uruguay,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,1,Ekaterinburg Arena,Ekaterinburg,17:00,15.0,6.0,2018.0,0.0,1.0,NaN
2,Morocco,IR Iran,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,1,Saint Petersburg Stadium,St. Petersburg,18:00,15.0,6.0,2018.0,0.0,1.0,NaN
3,Portugal,Spain,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,1,Fisht Stadium,Sochi,21:00,15.0,6.0,2018.0,3.0,3.0,{WinTeamName} win on aggregate after regular t...
4,France,Australia,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,1,Kazan Arena,Kazan,13:00,16.0,6.0,2018.0,2.0,1.0,NaN

In [29]:
df.isnull().sum()

Team1                                      0
Team2                                      0
Team1_avg_age_DF                           0
Team1_avg_age_FW                           0
Team1_avg_age_GK                           0
Team1_avg_age_MF                           0
Team2_avg_age_DF                           0
Team2_avg_age_FW                           0
Team2_avg_age_GK                           0
Team2_avg_age_MF                           0
Team1_avg_caps_DF                          0
Team1_avg_caps_FW                          0
Team1_clinical_finisher_speciality         3
Team2_clinical_finisher_speciality         3
Team1_strength_speciality                  3
Team2_strength_speciality                  3
Team1_acrobat_speciality                   3
Team2_acrobat_speciality                   3
Team1_tactician_speciality                 3
Team2_tactician_speciality                 3
Team1_tackling_speciality                  3
Team2_tackling_speciality                  3
Team1_free_kick_specialist_speciality      3
Team2_free_kick_specialist_speciality      3
Team1_crosser_speciality                   3
Team2_crosser_speciality                   3
Team1_distance_shooter_speciality          3
Team2_distance_shooter_speciality          3
Team1_engine_speciality                    3
Team2_engine_speciality                    3
                                        ...
Team1_eur_value                            3
Team2_eur_value                            3
Team1_weight_kg                            3
Team2_weight_kg                            3
Team1_height_cm                            3
Team2_height_cm                            3
Team1_age                                  3
Team2_age                                  3
Team1_special                              3
Team2_special                              3
Team1_avg_caps_GK                          0
Team1_avg_caps_MF                          0
Team2_avg_caps_DF                          0
Team2_avg_caps_FW                          0
Team2_avg_caps_GK                          0
Team2_avg_caps_MF                          0
rank_Team1                                 0
rank_Team2                                 0
rank_change_Team1                          0
rank_change_Team2                          0
Rounds                                     0
Stadium                                    0
City                                       0
Time                                       0
Day                                        0
Month                                      0
Year                                       0
Score1                                     0
Score2                                     0
Remarks                                  100
Length: 318, dtype: int64

In [30]:
df[df.Team1_clinical_finisher_speciality.isnull()]

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
19,IR Iran,Spain,26.5,26.428571,26.333333,27.4,28.500,28.80,28.333333,26.714286,...,1,Kazan Arena,Kazan,21:00,20.0,6.0,2018.0,0.0,1.0,NaN
35,IR Iran,Portugal,26.5,26.428571,26.333333,27.4,28.375,26.60,31.000000,27.000000,...,1,Mordovia Arena,Saransk,21:00,25.0,6.0,2018.0,1.0,1.0,{WinTeamName} win on aggregate after regular t...
66,IR Iran,Morocco,26.5,26.428571,26.333333,27.4,27.000,26.75,26.000000,26.900000,...,1,Saint Petersburg Stadium,St. Petersburg,18:00,15.0,6.0,2018.0,1.0,0.0,NaN

# code country name

In [31]:
countries = list(set(df["Team1"]).union(set(df["Team2"])))
countries_dict = {}
for i in range(len(countries)):
    countries_dict[countries[i]] = i
    
Team1_encoded = []
Team2_encoded = []

for i in range(len(df)):
    Team1_encoded.append(countries_dict[list(df.Team1)[i]])
    Team2_encoded.append(countries_dict[list(df.Team2)[i]])
    
df["Team1"] = Team1_encoded
df["Team2"] = Team2_encoded

In [32]:
#Adding who is the winner 
winner = []
for i in range (len(df['Team1'])):
    if df['Score1'][i] > df['Score2'][i]:
        winner.append(df['Team1'][i])
    elif df['Score1'][i] < df['Score2'][i]:
        winner.append(df['Team2'][i])
    else:
        winner.append(-1)
df['winning_team'] = winner

df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks,winning_team
0,16,6,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,Luzhniki Stadium,Moscow,18:00,14.0,6.0,2018.0,5.0,0.0,NaN,16
1,13,26,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,Ekaterinburg Arena,Ekaterinburg,17:00,15.0,6.0,2018.0,0.0,1.0,NaN,26
2,28,8,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,Saint Petersburg Stadium,St. Petersburg,18:00,15.0,6.0,2018.0,0.0,1.0,NaN,8
3,3,7,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,Fisht Stadium,Sochi,21:00,15.0,6.0,2018.0,3.0,3.0,{WinTeamName} win on aggregate after regular t...,-1
4,30,10,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,Kazan Arena,Kazan,13:00,16.0,6.0,2018.0,2.0,1.0,NaN,30

In [33]:

df = df.drop(['Score1','Score2','Remarks',"Stadium","City"],axis=1)
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,rank_Team1,rank_Team2,rank_change_Team1,rank_change_Team2,Rounds,Time,Day,Month,Year,winning_team
0,16,6,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,66,70,-3,-1,1,18:00,14.0,6.0,2018.0,16
1,13,26,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,46,17,-2,5,1,17:00,15.0,6.0,2018.0,26
2,28,8,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,42,36,0,-3,1,18:00,15.0,6.0,2018.0,8
3,3,7,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,4,8,-1,-2,1,21:00,15.0,6.0,2018.0,-1
4,30,10,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,7,40,2,-3,1,13:00,16.0,6.0,2018.0,30

In [34]:
df.isnull().sum()

Team1                                    0
Team2                                    0
Team1_avg_age_DF                         0
Team1_avg_age_FW                         0
Team1_avg_age_GK                         0
Team1_avg_age_MF                         0
Team2_avg_age_DF                         0
Team2_avg_age_FW                         0
Team2_avg_age_GK                         0
Team2_avg_age_MF                         0
Team1_avg_caps_DF                        0
Team1_avg_caps_FW                        0
Team1_clinical_finisher_speciality       3
Team2_clinical_finisher_speciality       3
Team1_strength_speciality                3
Team2_strength_speciality                3
Team1_acrobat_speciality                 3
Team2_acrobat_speciality                 3
Team1_tactician_speciality               3
Team2_tactician_speciality               3
Team1_tackling_speciality                3
Team2_tackling_speciality                3
Team1_free_kick_specialist_speciality    3
Team2_free_kick_specialist_speciality    3
Team1_crosser_speciality                 3
Team2_crosser_speciality                 3
Team1_distance_shooter_speciality        3
Team2_distance_shooter_speciality        3
Team1_engine_speciality                  3
Team2_engine_speciality                  3
                                        ..
Team1_eur_release_clause                 3
Team2_eur_release_clause                 3
Team1_eur_wage                           3
Team2_eur_wage                           3
Team1_eur_value                          3
Team2_eur_value                          3
Team1_weight_kg                          3
Team2_weight_kg                          3
Team1_height_cm                          3
Team2_height_cm                          3
Team1_age                                3
Team2_age                                3
Team1_special                            3
Team2_special                            3
Team1_avg_caps_GK                        0
Team1_avg_caps_MF                        0
Team2_avg_caps_DF                        0
Team2_avg_caps_FW                        0
Team2_avg_caps_GK                        0
Team2_avg_caps_MF                        0
rank_Team1                               0
rank_Team2                               0
rank_change_Team1                        0
rank_change_Team2                        0
Rounds                                   0
Time                                     0
Day                                      0
Month                                    0
Year                                     0
winning_team                             0
Length: 314, dtype: int64

In [35]:
df = df.fillna(0)

In [36]:
for c in df.keys():
    print(c)

Team1
Team2
Team1_avg_age_DF
Team1_avg_age_FW
Team1_avg_age_GK
Team1_avg_age_MF
Team2_avg_age_DF
Team2_avg_age_FW
Team2_avg_age_GK
Team2_avg_age_MF
Team1_avg_caps_DF
Team1_avg_caps_FW
Team1_clinical_finisher_speciality
Team2_clinical_finisher_speciality
Team1_strength_speciality
Team2_strength_speciality
Team1_acrobat_speciality
Team2_acrobat_speciality
Team1_tactician_speciality
Team2_tactician_speciality
Team1_tackling_speciality
Team2_tackling_speciality
Team1_free_kick_specialist_speciality
Team2_free_kick_specialist_speciality
Team1_crosser_speciality
Team2_crosser_speciality
Team1_distance_shooter_speciality
Team2_distance_shooter_speciality
Team1_engine_speciality
Team2_engine_speciality
Team1_playmaker_speciality
Team2_playmaker_speciality
Team1_dribbler_speciality
Team2_dribbler_speciality
Team1_aerial_threat_speciality
Team2_aerial_threat_speciality
Team1_speedster_speciality
Team2_speedster_speciality
Team1_poacher_speciality
Team2_poacher_speciality
Team1_tries_to_beat_defensive_line_trait
Team2_tries_to_beat_defensive_line_trait
Team1_technical_dribbler_trait
Team2_technical_dribbler_trait
Team1_team_player_trait
Team2_team_player_trait
Team1_target_forward_trait
Team2_target_forward_trait
Team1_takes_finesse_free_kicks_trait
Team2_takes_finesse_free_kicks_trait
Team1_swerve_pass_trait
Team2_swerve_pass_trait
Team1_stutter_penalty_trait
Team2_stutter_penalty_trait
Team1_skilled_dribbling_trait
Team2_skilled_dribbling_trait
Team1_selfish_trait
Team2_selfish_trait
Team1_second_wind_trait
Team2_second_wind_trait
Team1_saves_with_feet_trait
Team2_saves_with_feet_trait
Team1_rushes_out_of_goal_trait
Team2_rushes_out_of_goal_trait
Team1_puncher_trait
Team2_puncher_trait
Team1_power_header_trait
Team2_power_header_trait
Team1_power_free_kick_trait
Team2_power_free_kick_trait
Team1_playmaker_trait
Team2_playmaker_trait
Team1_outside_foot_shot_trait
Team2_outside_foot_shot_trait
Team1_one_club_player_trait
Team2_one_club_player_trait
Team1_long_throw_in_trait
Team2_long_throw_in_trait
Team1_long_shot_taker_trait
Team2_long_shot_taker_trait
Team1_long_passer_trait
Team2_long_passer_trait
Team1_leadership_trait
Team2_leadership_trait
Team1_injury_prone_trait
Team2_injury_prone_trait
Team1_injury_free_trait
Team2_injury_free_trait
Team1_inflexible_trait
Team2_inflexible_trait
Team1_giant_throw_in_trait
Team2_giant_throw_in_trait
Team1_gk_up_for_corners_trait
Team2_gk_up_for_corners_trait
Team1_gk_long_throw_trait
Team2_gk_long_throw_trait
Team1_gk_flat_kick_trait
Team2_gk_flat_kick_trait
Team1_flair_passes_trait
Team2_flair_passes_trait
Team1_flair_trait
Team2_flair_trait
Team1_finesse_shot_trait
Team2_finesse_shot_trait
Team1_fancy_flicks_trait
Team2_fancy_flicks_trait
Team1_fan's_favourite_trait
Team2_fan's_favourite_trait
Team1_early_crosser_trait
Team2_early_crosser_trait
Team1_driven_pass_trait
Team2_driven_pass_trait
Team1_diving_header_trait
Team2_diving_header_trait
Team1_dives_into_tackles_trait
Team2_dives_into_tackles_trait
Team1_diver_trait
Team2_diver_trait
Team1_corner_specialist_trait
Team2_corner_specialist_trait
Team1_comes_for_crosses_trait
Team2_comes_for_crosses_trait
Team1_chipped_penalty_trait
Team2_chipped_penalty_trait
Team1_chip_shot_trait
Team2_chip_shot_trait
Team1_cautious_with_crosses_trait
Team2_cautious_with_crosses_trait
Team1_bicycle_kicks_trait
Team2_bicycle_kicks_trait
Team1_backs_into_player_trait
Team2_backs_into_player_trait
Team1_avoids_using_weaker_foot_trait
Team2_avoids_using_weaker_foot_trait
Team1_argues_with_officials_trait
Team2_argues_with_officials_trait
Team1_acrobatic_clearance_trait
Team2_acrobatic_clearance_trait
Team1_1_on_1_rush_trait
Team2_1_on_1_rush_trait
Team1_gk
Team2_gk
Team1_lcb
Team2_lcb
Team1_ldm
Team2_ldm
Team1_lcm
Team2_lcm
Team1_lam
Team2_lam
Team1_lf
Team2_lf
Team1_ls
Team2_ls
Team1_lwb
Team2_lwb
Team1_lb
Team2_lb
Team1_cb
Team2_cb
Team1_cdm
Team2_cdm
Team1_lm
Team2_lm
Team1_cm
Team2_cm
Team1_cam
Team2_cam
Team1_cf
Team2_cf
Team1_lw
Team2_lw
Team1_st
Team2_st
Team1_rwb
Team2_rwb
Team1_rb
Team2_rb
Team1_rcb
Team2_rcb
Team1_rdm
Team2_rdm
Team1_rm
Team2_rm
Team1_rcm
Team2_rcm
Team1_ram
Team2_ram
Team1_rf
Team2_rf
Team1_rw
Team2_rw
Team1_rs
Team2_rs
Team1_gk_reflexes
Team2_gk_reflexes
Team1_gk_positioning
Team2_gk_positioning
Team1_gk_kicking
Team2_gk_kicking
Team1_gk_handling
Team2_gk_handling
Team1_gk_diving
Team2_gk_diving
Team1_sliding_tackle
Team2_sliding_tackle
Team1_standing_tackle
Team2_standing_tackle
Team1_marking
Team2_marking
Team1_composure
Team2_composure
Team1_penalties
Team2_penalties
Team1_vision
Team2_vision
Team1_positioning
Team2_positioning
Team1_interceptions
Team2_interceptions
Team1_aggression
Team2_aggression
Team1_long_shots
Team2_long_shots
Team1_strength
Team2_strength
Team1_stamina
Team2_stamina
Team1_jumping
Team2_jumping
Team1_shot_power
Team2_shot_power
Team1_balance
Team2_balance
Team1_reactions
Team2_reactions
Team1_agility
Team2_agility
Team1_sprint_speed
Team2_sprint_speed
Team1_acceleration
Team2_acceleration
Team1_ball_control
Team2_ball_control
Team1_long_passing
Team2_long_passing
Team1_free_kick_accuracy
Team2_free_kick_accuracy
Team1_curve
Team2_curve
Team1_dribbling
Team2_dribbling
Team1_volleys
Team2_volleys
Team1_short_passing
Team2_short_passing
Team1_heading_accuracy
Team2_heading_accuracy
Team1_finishing
Team2_finishing
Team1_crossing
Team2_crossing
Team1_weak_foot
Team2_weak_foot
Team1_skill_moves
Team2_skill_moves
Team1_international_reputation
Team2_international_reputation
Team1_phy
Team2_phy
Team1_def
Team2_def
Team1_dri
Team2_dri
Team1_pas
Team2_pas
Team1_sho
Team2_sho
Team1_pac
Team2_pac
Team1_potential
Team2_potential
Team1_overall
Team2_overall
Team1_eur_release_clause
Team2_eur_release_clause
Team1_eur_wage
Team2_eur_wage
Team1_eur_value
Team2_eur_value
Team1_weight_kg
Team2_weight_kg
Team1_height_cm
Team2_height_cm
Team1_age
Team2_age
Team1_special
Team2_special
Team1_avg_caps_GK
Team1_avg_caps_MF
Team2_avg_caps_DF
Team2_avg_caps_FW
Team2_avg_caps_GK
Team2_avg_caps_MF
rank_Team1
rank_Team2
rank_change_Team1
rank_change_Team2
Rounds
Time
Day
Month
Year
winning_team

In [37]:
df.shape

(128, 314)

In [38]:
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,rank_Team1,rank_Team2,rank_change_Team1,rank_change_Team2,Rounds,Time,Day,Month,Year,winning_team
0,16,6,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,66,70,-3,-1,1,18:00,14.0,6.0,2018.0,16
1,13,26,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,46,17,-2,5,1,17:00,15.0,6.0,2018.0,26
2,28,8,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,42,36,0,-3,1,18:00,15.0,6.0,2018.0,8
3,3,7,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,4,8,-1,-2,1,21:00,15.0,6.0,2018.0,-1
4,30,10,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,7,40,2,-3,1,13:00,16.0,6.0,2018.0,30

# Duplicate

In [39]:
df.loc[0,:]

Team1                                             16
Team2                                              6
Team1_avg_age_DF                             29.8571
Team1_avg_age_FW                                28.5
Team1_avg_age_GK                             30.6667
Team1_avg_age_MF                             26.5455
Team2_avg_age_DF                             28.7143
Team2_avg_age_FW                             28.3333
Team2_avg_age_GK                             30.3333
Team2_avg_age_MF                                  27
Team1_avg_caps_DF                            27.5714
Team1_avg_caps_FW                                 27
Team1_clinical_finisher_speciality                 0
Team2_clinical_finisher_speciality                 0
Team1_strength_speciality                  0.0666667
Team2_strength_speciality                  0.0333333
Team1_acrobat_speciality                           0
Team2_acrobat_speciality                   0.0333333
Team1_tactician_speciality                         0
Team2_tactician_speciality                         0
Team1_tackling_speciality                          0
Team2_tackling_speciality                          0
Team1_free_kick_specialist_speciality              0
Team2_free_kick_specialist_speciality              0
Team1_crosser_speciality                           0
Team2_crosser_speciality                           0
Team1_distance_shooter_speciality                  0
Team2_distance_shooter_speciality                  0
Team1_engine_speciality                    0.0333333
Team2_engine_speciality                    0.0333333
                                            ...
Team1_eur_release_clause                 1.38667e+07
Team2_eur_release_clause                    5.63e+06
Team1_eur_wage                               47433.3
Team2_eur_wage                                 26800
Team1_eur_value                          8.73667e+06
Team2_eur_value                          3.19667e+06
Team1_weight_kg                              79.0667
Team2_weight_kg                              68.1333
Team1_height_cm                              184.867
Team2_height_cm                              174.333
Team1_age                                    28.8333
Team2_age                                    27.7333
Team1_special                                 1748.3
Team2_special                                1746.17
Team1_avg_caps_GK                            39.3333
Team1_avg_caps_MF                                 25
Team2_avg_caps_DF                                 40
Team2_avg_caps_FW                            33.6667
Team2_avg_caps_GK                                 16
Team2_avg_caps_MF                               34.3
rank_Team1                                        66
rank_Team2                                        70
rank_change_Team1                                 -3
rank_change_Team2                                 -1
Rounds                                             1
Time                                           18:00
Day                                               14
Month                                              6
Year                                            2018
winning_team                                      16
Name: 0, Length: 314, dtype: object

In [40]:
df.loc[64,:]

Team1                                              6
Team2                                             16
Team1_avg_age_DF                             28.7143
Team1_avg_age_FW                             28.3333
Team1_avg_age_GK                             30.3333
Team1_avg_age_MF                                  27
Team2_avg_age_DF                             29.8571
Team2_avg_age_FW                                28.5
Team2_avg_age_GK                             30.6667
Team2_avg_age_MF                             26.5455
Team1_avg_caps_DF                                 40
Team1_avg_caps_FW                            33.6667
Team1_clinical_finisher_speciality                 0
Team2_clinical_finisher_speciality                 0
Team1_strength_speciality                  0.0333333
Team2_strength_speciality                  0.0666667
Team1_acrobat_speciality                   0.0333333
Team2_acrobat_speciality                           0
Team1_tactician_speciality                         0
Team2_tactician_speciality                         0
Team1_tackling_speciality                          0
Team2_tackling_speciality                          0
Team1_free_kick_specialist_speciality              0
Team2_free_kick_specialist_speciality              0
Team1_crosser_speciality                           0
Team2_crosser_speciality                           0
Team1_distance_shooter_speciality                  0
Team2_distance_shooter_speciality                  0
Team1_engine_speciality                    0.0333333
Team2_engine_speciality                    0.0333333
                                            ...
Team1_eur_release_clause                    5.63e+06
Team2_eur_release_clause                 1.38667e+07
Team1_eur_wage                                 26800
Team2_eur_wage                               47433.3
Team1_eur_value                          3.19667e+06
Team2_eur_value                          8.73667e+06
Team1_weight_kg                              68.1333
Team2_weight_kg                              79.0667
Team1_height_cm                              174.333
Team2_height_cm                              184.867
Team1_age                                    27.7333
Team2_age                                    28.8333
Team1_special                                1746.17
Team2_special                                 1748.3
Team1_avg_caps_GK                                 16
Team1_avg_caps_MF                               34.3
Team2_avg_caps_DF                            27.5714
Team2_avg_caps_FW                                 27
Team2_avg_caps_GK                            39.3333
Team2_avg_caps_MF                                 25
rank_Team1                                        70
rank_Team2                                        66
rank_change_Team1                                 -1
rank_change_Team2                                 -3
Rounds                                             1
Time                                           18:00
Day                                               14
Month                                              6
Year                                            2018
winning_team                                      16
Name: 64, Length: 314, dtype: object

# train & test

In [41]:
X_train = df.loc[df['Rounds'] == 1]
X_test = df.loc[df['Rounds'] != 1]

In [42]:
y_train = X_train["winning_team"]
y_test = X_test["winning_team"]

In [43]:
X_train = X_train.drop(["Rounds","winning_team","Time"],axis=1)
X_test = X_test.drop(["Rounds","winning_team","Time"],axis=1)

# train model

In [44]:
model = Sequential()
model.add(Dense(12, input_dim=X_train.shape[1], activation='sigmoid'))
model.add(Dense(8, activation='sigmoid'))
#model.dropout()
model.add(Dense(1, activation='sigmoid'))

In [45]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy']) #categorical crossentropy?

In [46]:
model.fit(X_train, y_train, validation_data=(X_test,y_test), shuffle=True, epochs=100, batch_size=64)

Train on 96 samples, validate on 32 samples
Epoch 1/100
96/96 [==============================] - 0s 3ms/step - loss: -0.3507 - acc: 0.0208 - val_loss: 0.0811 - val_acc: 0.0000e+00
Epoch 2/100
96/96 [==============================] - 0s 95us/step - loss: -0.5984 - acc: 0.0208 - val_loss: -0.2555 - val_acc: 0.0000e+00
Epoch 3/100
96/96 [==============================] - 0s 89us/step - loss: -0.8624 - acc: 0.0208 - val_loss: -0.5917 - val_acc: 0.0000e+00
Epoch 4/100
96/96 [==============================] - 0s 97us/step - loss: -1.1298 - acc: 0.0208 - val_loss: -0.9272 - val_acc: 0.0000e+00
Epoch 5/100
96/96 [==============================] - 0s 139us/step - loss: -1.4050 - acc: 0.0208 - val_loss: -1.2625 - val_acc: 0.0000e+00
Epoch 6/100
96/96 [==============================] - 0s 129us/step - loss: -1.6683 - acc: 0.0208 - val_loss: -1.5988 - val_acc: 0.0000e+00
Epoch 7/100
96/96 [==============================] - 0s 101us/step - loss: -1.9333 - acc: 0.0208 - val_loss: -1.9353 - val_acc: 0.0000e+00
Epoch 8/100
96/96 [==============================] - 0s 152us/step - loss: -2.2044 - acc: 0.0208 - val_loss: -2.2715 - val_acc: 0.0000e+00
Epoch 9/100
96/96 [==============================] - 0s 108us/step - loss: -2.4742 - acc: 0.0208 - val_loss: -2.6082 - val_acc: 0.0000e+00
Epoch 10/100
96/96 [==============================] - 0s 120us/step - loss: -2.7319 - acc: 0.0208 - val_loss: -2.9455 - val_acc: 0.0000e+00
Epoch 11/100
96/96 [==============================] - 0s 138us/step - loss: -3.0028 - acc: 0.0208 - val_loss: -3.2814 - val_acc: 0.0000e+00
Epoch 12/100
96/96 [==============================] - 0s 113us/step - loss: -3.2657 - acc: 0.0208 - val_loss: -3.6168 - val_acc: 0.0000e+00
Epoch 13/100
96/96 [==============================] - 0s 112us/step - loss: -3.5379 - acc: 0.0208 - val_loss: -3.9511 - val_acc: 0.0000e+00
Epoch 14/100
96/96 [==============================] - 0s 90us/step - loss: -3.8005 - acc: 0.0208 - val_loss: -4.2862 - val_acc: 0.0000e+00
Epoch 15/100
96/96 [==============================] - 0s 109us/step - loss: -4.0624 - acc: 0.0208 - val_loss: -4.6208 - val_acc: 0.0000e+00
Epoch 16/100
96/96 [==============================] - 0s 95us/step - loss: -4.3434 - acc: 0.0208 - val_loss: -4.9542 - val_acc: 0.0000e+00
Epoch 17/100
96/96 [==============================] - 0s 100us/step - loss: -4.5962 - acc: 0.0208 - val_loss: -5.2906 - val_acc: 0.0000e+00
Epoch 18/100
96/96 [==============================] - 0s 105us/step - loss: -4.8661 - acc: 0.0208 - val_loss: -5.6264 - val_acc: 0.0000e+00
Epoch 19/100
96/96 [==============================] - 0s 108us/step - loss: -5.1387 - acc: 0.0208 - val_loss: -5.9625 - val_acc: 0.0000e+00
Epoch 20/100
96/96 [==============================] - 0s 153us/step - loss: -5.3888 - acc: 0.0208 - val_loss: -6.3002 - val_acc: 0.0000e+00
Epoch 21/100
96/96 [==============================] - 0s 136us/step - loss: -5.6748 - acc: 0.0208 - val_loss: -6.6350 - val_acc: 0.0000e+00
Epoch 22/100
96/96 [==============================] - 0s 114us/step - loss: -5.9325 - acc: 0.0208 - val_loss: -6.9724 - val_acc: 0.0000e+00
Epoch 23/100
96/96 [==============================] - 0s 108us/step - loss: -6.1925 - acc: 0.0208 - val_loss: -7.3095 - val_acc: 0.0000e+00
Epoch 24/100
96/96 [==============================] - 0s 108us/step - loss: -6.4578 - acc: 0.0208 - val_loss: -7.6445 - val_acc: 0.0000e+00
Epoch 25/100
96/96 [==============================] - 0s 98us/step - loss: -6.7257 - acc: 0.0208 - val_loss: -7.9775 - val_acc: 0.0000e+00
Epoch 26/100
96/96 [==============================] - 0s 285us/step - loss: -6.9897 - acc: 0.0208 - val_loss: -8.3099 - val_acc: 0.0000e+00
Epoch 27/100
96/96 [==============================] - 0s 152us/step - loss: -7.2591 - acc: 0.0208 - val_loss: -8.6420 - val_acc: 0.0000e+00
Epoch 28/100
96/96 [==============================] - 0s 118us/step - loss: -7.5159 - acc: 0.0208 - val_loss: -8.9753 - val_acc: 0.0000e+00
Epoch 29/100
96/96 [==============================] - 0s 123us/step - loss: -7.7884 - acc: 0.0208 - val_loss: -9.3084 - val_acc: 0.0000e+00
Epoch 30/100
96/96 [==============================] - 0s 141us/step - loss: -8.0427 - acc: 0.0208 - val_loss: -9.6435 - val_acc: 0.0000e+00
Epoch 31/100
96/96 [==============================] - 0s 109us/step - loss: -8.3083 - acc: 0.0208 - val_loss: -9.9776 - val_acc: 0.0000e+00
Epoch 32/100
96/96 [==============================] - 0s 110us/step - loss: -8.5709 - acc: 0.0208 - val_loss: -10.3111 - val_acc: 0.0000e+00
Epoch 33/100
96/96 [==============================] - 0s 107us/step - loss: -8.8399 - acc: 0.0208 - val_loss: -10.6437 - val_acc: 0.0000e+00
Epoch 34/100
96/96 [==============================] - 0s 195us/step - loss: -9.0971 - acc: 0.0208 - val_loss: -10.9771 - val_acc: 0.0000e+00
Epoch 35/100
96/96 [==============================] - 0s 114us/step - loss: -9.3606 - acc: 0.0208 - val_loss: -11.3098 - val_acc: 0.0000e+00
Epoch 36/100
96/96 [==============================] - 0s 109us/step - loss: -9.6241 - acc: 0.0208 - val_loss: -11.6417 - val_acc: 0.0000e+00
Epoch 37/100
96/96 [==============================] - 0s 88us/step - loss: -9.8850 - acc: 0.0208 - val_loss: -11.9732 - val_acc: 0.0000e+00
Epoch 38/100
96/96 [==============================] - 0s 92us/step - loss: -10.1544 - acc: 0.0208 - val_loss: -12.3043 - val_acc: 0.0000e+00
Epoch 39/100
96/96 [==============================] - 0s 130us/step - loss: -10.4128 - acc: 0.0208 - val_loss: -12.6373 - val_acc: 0.0000e+00
Epoch 40/100
96/96 [==============================] - 0s 127us/step - loss: -10.6691 - acc: 0.0208 - val_loss: -12.9705 - val_acc: 0.0000e+00
Epoch 41/100
96/96 [==============================] - 0s 112us/step - loss: -10.9366 - acc: 0.0208 - val_loss: -13.3021 - val_acc: 0.0000e+00
Epoch 42/100
96/96 [==============================] - 0s 104us/step - loss: -11.2051 - acc: 0.0208 - val_loss: -13.6339 - val_acc: 0.0000e+00
Epoch 43/100
96/96 [==============================] - 0s 100us/step - loss: -11.4569 - acc: 0.0208 - val_loss: -13.9677 - val_acc: 0.0000e+00
Epoch 44/100
96/96 [==============================] - 0s 128us/step - loss: -11.7322 - acc: 0.0208 - val_loss: -14.3001 - val_acc: 0.0000e+00
Epoch 45/100
96/96 [==============================] - 0s 155us/step - loss: -11.9934 - acc: 0.0208 - val_loss: -14.6349 - val_acc: 0.0000e+00
Epoch 46/100
96/96 [==============================] - 0s 104us/step - loss: -12.2491 - acc: 0.0208 - val_loss: -14.9712 - val_acc: 0.0000e+00
Epoch 47/100
96/96 [==============================] - 0s 98us/step - loss: -12.5223 - acc: 0.0208 - val_loss: -15.3064 - val_acc: 0.0000e+00
Epoch 48/100
96/96 [==============================] - 0s 110us/step - loss: -12.7843 - acc: 0.0208 - val_loss: -15.6428 - val_acc: 0.0000e+00
Epoch 49/100
96/96 [==============================] - 0s 108us/step - loss: -13.0574 - acc: 0.0208 - val_loss: -15.9797 - val_acc: 0.0000e+00
Epoch 50/100
96/96 [==============================] - 0s 98us/step - loss: -13.3178 - acc: 0.0208 - val_loss: -16.3191 - val_acc: 0.0000e+00
Epoch 51/100
96/96 [==============================] - 0s 143us/step - loss: -13.5809 - acc: 0.0208 - val_loss: -16.6588 - val_acc: 0.0000e+00
Epoch 52/100
96/96 [==============================] - 0s 109us/step - loss: -13.8561 - acc: 0.0208 - val_loss: -16.9973 - val_acc: 0.0000e+00
Epoch 53/100
96/96 [==============================] - 0s 96us/step - loss: -14.1188 - acc: 0.0208 - val_loss: -17.3373 - val_acc: 0.0000e+00
Epoch 54/100
96/96 [==============================] - 0s 102us/step - loss: -14.3810 - acc: 0.0208 - val_loss: -17.6771 - val_acc: 0.0000e+00
Epoch 55/100
96/96 [==============================] - 0s 123us/step - loss: -14.6503 - acc: 0.0208 - val_loss: -18.0150 - val_acc: 0.0000e+00
Epoch 56/100
96/96 [==============================] - 0s 116us/step - loss: -14.9215 - acc: 0.0208 - val_loss: -18.3518 - val_acc: 0.0000e+00
Epoch 57/100
96/96 [==============================] - 0s 115us/step - loss: -15.1843 - acc: 0.0208 - val_loss: -18.6896 - val_acc: 0.0000e+00
Epoch 58/100
96/96 [==============================] - 0s 110us/step - loss: -15.4420 - acc: 0.0208 - val_loss: -19.0269 - val_acc: 0.0000e+00
Epoch 59/100

96/96 [==============================] - 0s 129us/step - loss: -15.7138 - acc: 0.0208 - val_loss: -19.3616 - val_acc: 0.0000e+00
Epoch 60/100
96/96 [==============================] - 0s 103us/step - loss: -15.9822 - acc: 0.0208 - val_loss: -19.6964 - val_acc: 0.0000e+00
Epoch 61/100
96/96 [==============================] - 0s 127us/step - loss: -16.2417 - acc: 0.0208 - val_loss: -20.0325 - val_acc: 0.0000e+00
Epoch 62/100
96/96 [==============================] - 0s 105us/step - loss: -16.5070 - acc: 0.0208 - val_loss: -20.3687 - val_acc: 0.0000e+00
Epoch 63/100
96/96 [==============================] - 0s 116us/step - loss: -16.7723 - acc: 0.0208 - val_loss: -20.7049 - val_acc: 0.0000e+00
Epoch 64/100
96/96 [==============================] - 0s 127us/step - loss: -17.0453 - acc: 0.0208 - val_loss: -21.0417 - val_acc: 0.0000e+00
Epoch 65/100
96/96 [==============================] - 0s 141us/step - loss: -17.3058 - acc: 0.0208 - val_loss: -21.3815 - val_acc: 0.0000e+00
Epoch 66/100
96/96 [==============================] - 0s 127us/step - loss: -17.5822 - acc: 0.0208 - val_loss: -21.7222 - val_acc: 0.0000e+00
Epoch 67/100
96/96 [==============================] - 0s 129us/step - loss: -17.8325 - acc: 0.0208 - val_loss: -22.0661 - val_acc: 0.0000e+00
Epoch 68/100
96/96 [==============================] - 0s 121us/step - loss: -18.1156 - acc: 0.0208 - val_loss: -22.4070 - val_acc: 0.0000e+00
Epoch 69/100
96/96 [==============================] - 0s 131us/step - loss: -18.3847 - acc: 0.0208 - val_loss: -22.7495 - val_acc: 0.0000e+00
Epoch 70/100
96/96 [==============================] - 0s 107us/step - loss: -18.6560 - acc: 0.0208 - val_loss: -23.0937 - val_acc: 0.0000e+00
Epoch 71/100
96/96 [==============================] - 0s 108us/step - loss: -18.9147 - acc: 0.0208 - val_loss: -23.4395 - val_acc: 0.0000e+00
Epoch 72/100
96/96 [==============================] - 0s 115us/step - loss: -19.1986 - acc: 0.0208 - val_loss: -23.7829 - val_acc: 0.0000e+00
Epoch 73/100
96/96 [==============================] - 0s 100us/step - loss: -19.4565 - acc: 0.0208 - val_loss: -24.1279 - val_acc: 0.0000e+00
Epoch 74/100
96/96 [==============================] - 0s 134us/step - loss: -19.7419 - acc: 0.0208 - val_loss: -24.4704 - val_acc: 0.0000e+00
Epoch 75/100
96/96 [==============================] - 0s 98us/step - loss: -19.9989 - acc: 0.0208 - val_loss: -24.8157 - val_acc: 0.0000e+00
Epoch 76/100
96/96 [==============================] - 0s 124us/step - loss: -20.2836 - acc: 0.0208 - val_loss: -25.1590 - val_acc: 0.0000e+00
Epoch 77/100
96/96 [==============================] - 0s 127us/step - loss: -20.5411 - acc: 0.0208 - val_loss: -25.5051 - val_acc: 0.0000e+00
Epoch 78/100
96/96 [==============================] - 0s 114us/step - loss: -20.8114 - acc: 0.0208 - val_loss: -25.8490 - val_acc: 0.0000e+00
Epoch 79/100
96/96 [==============================] - 0s 109us/step - loss: -21.0846 - acc: 0.0208 - val_loss: -26.1908 - val_acc: 0.0000e+00
Epoch 80/100
96/96 [==============================] - 0s 115us/step - loss: -21.3650 - acc: 0.0208 - val_loss: -26.5323 - val_acc: 0.0000e+00
Epoch 81/100
96/96 [==============================] - 0s 143us/step - loss: -21.6217 - acc: 0.0208 - val_loss: -26.8772 - val_acc: 0.0000e+00
Epoch 82/100
96/96 [==============================] - 0s 103us/step - loss: -21.8911 - acc: 0.0208 - val_loss: -27.2207 - val_acc: 0.0000e+00
Epoch 83/100
96/96 [==============================] - 0s 93us/step - loss: -22.1581 - acc: 0.0208 - val_loss: -27.5627 - val_acc: 0.0000e+00
Epoch 84/100
96/96 [==============================] - 0s 109us/step - loss: -22.4419 - acc: 0.0208 - val_loss: -27.9030 - val_acc: 0.0000e+00
Epoch 85/100
96/96 [==============================] - 0s 100us/step - loss: -22.7034 - acc: 0.0208 - val_loss: -28.2468 - val_acc: 0.0000e+00
Epoch 86/100
96/96 [==============================] - 0s 100us/step - loss: -22.9679 - acc: 0.0208 - val_loss: -28.5913 - val_acc: 0.0000e+00
Epoch 87/100
96/96 [==============================] - 0s 133us/step - loss: -23.2444 - acc: 0.0208 - val_loss: -28.9347 - val_acc: 0.0000e+00
Epoch 88/100
96/96 [==============================] - 0s 116us/step - loss: -23.5151 - acc: 0.0208 - val_loss: -29.2791 - val_acc: 0.0000e+00
Epoch 89/100
96/96 [==============================] - 0s 106us/step - loss: -23.7862 - acc: 0.0208 - val_loss: -29.6248 - val_acc: 0.0000e+00
Epoch 90/100
96/96 [==============================] - 0s 98us/step - loss: -24.0539 - acc: 0.0208 - val_loss: -29.9715 - val_acc: 0.0000e+00
Epoch 91/100
96/96 [==============================] - 0s 105us/step - loss: -24.3353 - acc: 0.0208 - val_loss: -30.3177 - val_acc: 0.0000e+00
Epoch 92/100
96/96 [==============================] - 0s 95us/step - loss: -24.6022 - acc: 0.0208 - val_loss: -30.6669 - val_acc: 0.0000e+00
Epoch 93/100
96/96 [==============================] - 0s 114us/step - loss: -24.8720 - acc: 0.0208 - val_loss: -31.0163 - val_acc: 0.0000e+00
Epoch 94/100
96/96 [==============================] - 0s 118us/step - loss: -25.1578 - acc: 0.0208 - val_loss: -31.3646 - val_acc: 0.0000e+00
Epoch 95/100
96/96 [==============================] - 0s 114us/step - loss: -25.4257 - acc: 0.0208 - val_loss: -31.7159 - val_acc: 0.0000e+00
Epoch 96/100
96/96 [==============================] - 0s 131us/step - loss: -25.6944 - acc: 0.0208 - val_loss: -32.0671 - val_acc: 0.0000e+00
Epoch 97/100
96/96 [==============================] - 0s 107us/step - loss: -25.9743 - acc: 0.0208 - val_loss: -32.4162 - val_acc: 0.0000e+00
Epoch 98/100
96/96 [==============================] - 0s 114us/step - loss: -26.2529 - acc: 0.0208 - val_loss: -32.7652 - val_acc: 0.0000e+00
Epoch 99/100
96/96 [==============================] - 0s 111us/step - loss: -26.5300 - acc: 0.0208 - val_loss: -33.1158 - val_acc: 0.0000e+00
Epoch 100/100
96/96 [==============================] - 0s 159us/step - loss: -26.8030 - acc: 0.0208 - val_loss: -33.4685 - val_acc: 0.0000e+00

In [47]:
scores = model.evaluate(X_test, y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

32/32 [==============================] - 0s 61us/step

acc: 0.00%

In [48]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

model= DecisionTreeClassifier()
model.fit(X_train,y_train)

y_pred = model.predict(X_test)

accuracy_score(y_test, y_pred)

0.21875

In [49]:
from sklearn import svm
model_svm = svm.SVC()
model.fit(X_train,y_train)

y_pred_svm = model.predict(X_test)

accuracy_score(y_test, y_pred_svm)

0.25