In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
df = pd.read_csv("../datasets/final_data/FIFA 1990-2018 - Cleaned.csv")
df_teams = pd.read_csv("../datasets/final_data/world_cup_comparisons.csv")
fifa_ranking = pd.read_csv("../datasets/final_data/fifa_ranking.csv")

In [ ]:
df[((df.Team1 == 'IR Iran') | (df.Team2 =='IR Iran')) & (df.Year == 2018)]

In [3]:
df=df.replace({"South Korea":"Korea Republic"})
df = df.replace({"Iran":"IR Iran"})
df = df.replace({"Soviet Union":"Russia"})
df = df.replace({"Czechoslovakia":"Czech Republic"})


df_teams=df_teams.replace({"South Korea":"Korea Republic"})
df_teams = df_teams.replace({"Iran":"IR Iran"})

fifa_ranking=fifa_ranking.replace({"South Korea":"Korea Republic"})
fifa_ranking = fifa_ranking.replace({"Iran":"IR Iran"})

In [4]:
df = df[df.Year ==2018]
df

,Team1,Team2,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,Group Phase,Luzhniki Stadium,Moscow,18:00,14,6,2018,5,0,NaN
1,Egypt,Uruguay,Group Phase,Ekaterinburg Arena,Ekaterinburg,17:00,15,6,2018,0,1,NaN
2,Morocco,IR Iran,Group Phase,Saint Petersburg Stadium,St. Petersburg,18:00,15,6,2018,0,1,NaN
3,Portugal,Spain,Group Phase,Fisht Stadium,Sochi,21:00,15,6,2018,3,3,{WinTeamName} win on aggregate after regular t...
4,France,Australia,Group Phase,Kazan Arena,Kazan,13:00,16,6,2018,2,1,NaN
5,Argentina,Iceland,Group Phase,Spartak Stadium,Moscow,16:00,16,6,2018,1,1,{WinTeamName} win on aggregate after regular t...
6,Peru,Denmark,Group Phase,Mordovia Arena,Saransk,19:00,16,6,2018,0,1,NaN
7,Croatia,Nigeria,Group Phase,Kaliningrad Stadium,Kaliningrad,21:00,16,6,2018,2,0,NaN
8,Costa Rica,Serbia,Group Phase,Samara Arena,Samara,16:00,17,6,2018,0,1,NaN
9,Germany,Mexico,Group Phase,Luzhniki Stadium,Moscow,18:00,17,6,2018,0,1,NaN
10,Brazil,Switzerland,Group Phase,Rostov Arena,Rostov-On-Don,21:00,17,6,2018,1,1,{WinTeamName} win on aggregate after regular t...
11,Sweden,Korea Republic,Group Phase,Nizhny Novgorod Stadium,Nizhny Novgorod,15:00,18,6,2018,1,0,NaN
12,Belgium,Panama,Group Phase,Fisht Stadium,Sochi,18:00,18,6,2018,3,0,NaN
13,Tunisia,England,Group Phase,Volgograd Arena,Volgograd,21:00,18,6,2018,1,2,NaN
14,Colombia,Japan,Group Phase,Mordovia Arena,Saransk,15:00,19,6,2018,1,2,NaN
15,Poland,Senegal,Group Phase,Spartak Stadium,Moscow,18:00,19,6,2018,1,2,NaN
16,Russia,Egypt,Group Phase,Saint Petersburg Stadium,St. Petersburg,21:00,19,6,2018,3,1,NaN
17,Portugal,Morocco,Group Phase,Luzhniki Stadium,Moscow,15:00,20,6,2018,1,0,NaN
18,Uruguay,Saudi Arabia,Group Phase,Rostov Arena,Rostov-On-Don,18:00,20,6,2018,1,0,NaN
19,IR Iran,Spain,Group Phase,Kazan Arena,Kazan,21:00,20,6,2018,0,1,NaN
20,Denmark,Australia,Group Phase,Samara Arena,Samara,16:00,21,6,2018,1,1,{WinTeamName} win on aggregate after regular t...
21,France,Peru,Group Phase,Ekaterinburg Arena,Ekaterinburg,20:00,21,6,2018,1,0,NaN
22,Argentina,Croatia,Group Phase,Nizhny Novgorod Stadium,Nizhny Novgorod,21:00,21,6,2018,0,3,NaN
23,Brazil,Costa Rica,Group Phase,Saint Petersburg Stadium,St. Petersburg,15:00,22,6,2018,2,0,NaN
24,Nigeria,Iceland,Group Phase,Volgograd Arena,Volgograd,18:00,22,6,2018,2,0,NaN
25,Serbia,Switzerland,Group Phase,Kaliningrad Stadium,Kaliningrad,20:00,22,6,2018,1,2,NaN
26,Belgium,Tunisia,Group Phase,Spartak Stadium,Moscow,15:00,23,6,2018,5,2,NaN
27,Korea Republic,Mexico,Group Phase,Rostov Arena,Rostov-On-Don,18:00,23,6,2018,1,2,NaN
28,Germany,Sweden,Group Phase,Fisht Stadium,Sochi,21:00,23,6,2018,2,1,NaN
29,England,Panama,Group Phase,Nizhny Novgorod Stadium,Nizhny Novgorod,15:00,24,6,2018,6,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
34,Spain,Morocco,Group Phase,Kaliningrad Stadium,Kaliningrad,20:00,25,6,2018,2,2,{WinTeamName} win on aggregate after regular t...
35,IR Iran,Portugal,Group Phase,Mordovia Arena,Saransk,21:00,25,6,2018,1,1,{WinTeamName} win on aggregate after regular t...
36,Australia,Peru,Group Phase,Fisht Stadium,Sochi,17:00,26,6,2018,0,2,NaN
37,Denmark,France,Group Phase,Luzhniki Stadium,Moscow,17:00,26,6,2018,0,0,{WinTeamName} win on aggregate after regular t...
38,Nigeria,Argentina,Group Phase,Saint Petersburg Stadium,St. Petersburg,21:00,26,6,2018,1,2,NaN
39,Iceland,Croatia,Group Phase,Rostov Arena,Rostov-On-Don,21:00,26,6,2018,1,2,NaN
40,Korea Republic,Germany,Group Phase,Kazan Arena,Kazan,17:00,27,6,2018,2,0,NaN
41,Mexico,Sweden,Group Phase,Ekaterinburg Arena,Ekaterinburg,19:00,27,6,2018,0,3,NaN
42,Serbia,Brazil,Group Phase,Spartak Stadium,Moscow,21:00,27,6,2018,0,2,NaN
43,Switzerland,Costa Rica,Group Phase,Nizhny Novgorod Stadium,Nizhny Novgorod,21:00,27,6,2018,2,2,{WinTeamName} win on aggregate after regular t...
44,Japan,Poland,Group Phase,Volgograd Arena,Volgograd,17:00,28,6,2018,0,1,NaN
45,Senegal,Colombia,Group Phase,Samara Arena,Samara,18:00,28,6,2018,0,1,NaN
46,Panama,Tunisia,Group Phase,Mordovia Arena,Saransk,21:00,28,6,2018,1,2,NaN
47,England,Belgium,Group Phase,Kaliningrad Stadium,Kaliningrad,20:00,28,6,2018,0,1,NaN
48,France,Argentina,Round of 16,Kazan Arena,Kazan,17:00,30,6,2018,4,3,NaN
49,Uruguay,Portugal,Round of 16,Fisht Stadium,Sochi,21:00,30,6,2018,2,1,NaN
50,Spain,Russia,Round of 16,Luzhniki Stadium,Moscow,17:00,1,7,2018,1,1,Russia win on penalties (3 - 4) RUS win after PSO
51,Croatia,Denmark,Round of 16,Nizhny Novgorod Stadium,Nizhny Novgorod,21:00,1,7,2018,1,1,Croatia win on penalties (3 - 2) CRO win after...
52,Brazil,Mexico,Round of 16,Samara Arena,Samara,18:00,2,7,2018,2,0,NaN
53,Belgium,Japan,Round of 16,Rostov Arena,Rostov-On-Don,21:00,2,7,2018,3,2,NaN
54,Sweden,Switzerland,Round of 16,Saint Petersburg Stadium,St. Petersburg,17:00,3,7,2018,1,0,NaN
55,Colombia,England,Round of 16,Spartak Stadium,Moscow,21:00,3,7,2018,1,1,England win on penalties (3 - 4) ENG win after...
56,Uruguay,France,Quarter Finals,Nizhny Novgorod Stadium,Nizhny Novgorod,17:00,6,7,2018,0,2,NaN
57,Brazil,Belgium,Quarter Finals,Kazan Arena,Kazan,21:00,6,7,2018,1,2,NaN
58,Sweden,England,Quarter Finals,Samara Arena,Samara,18:00,7,7,2018,0,2,NaN
59,Russia,Croatia,Quarter Finals,Fisht Stadium,Sochi,21:00,7,7,2018,2,2,Croatia win on penalties (3 - 4) CRO win after...
60,France,Belgium,Semi Finals,Saint Petersburg Stadium,St. Petersburg,21:00,10,7,2018,1,0,NaN
61,Croatia,England,Semi Finals,Luzhniki Stadium,Moscow,21:00,11,7,2018,2,1,Croatia win after extra time CRO win AET
62,Belgium,England,Play-off for third place,Saint Petersburg Stadium,St. Petersburg,17:00,14,7,2018,2,0,NaN
63,France,Croatia,Finals,Luzhniki Stadium,Moscow,18:00,15,7,2018,4,2,NaN

In [18]:
#Asia=0 Europe=2 Africa =3 america =4

continent={'Russia':'Europe', 'Germany':'Europe','Brazil':'South America','Portugal':'Europe','Argentina':'South America','Belgium':'Europe','Poland':'Europe','France':'Europe',
            'Spain':'Europe','Peru':'South America','Switzerland':'Europe','England':'Europe','Colombia':'South America','Mexico':'North America','Uruguay':'South America','Croatia':'Europe',
            'Denmark':'Europe','Iceland':'Europe','Costa Rica':'North America','Sweden':'Europe','Tunisia':'Africa','Egypt':'Asia','Senegal':'Africa','IR Iran':'Asia',
            'Serbia':'Europe','Nigeria':'Africa','Australia':'Australia','Japan':'Asia','Morocco':'Africa','Panama':'North America','Korea Republic':'Asia','Saudi Arabia':'Asia'}

In [6]:
ranking_2018 = fifa_ranking[(fifa_ranking['rank_date']>"2018-04-01") & (fifa_ranking['rank_date']<"2018-05-01")]
ranking_2014 = fifa_ranking[(fifa_ranking['rank_date']>"2014-04-01") & (fifa_ranking['rank_date']<"2014-05-01")]
ranking_2010 = fifa_ranking[(fifa_ranking['rank_date']>"2010-04-01") & (fifa_ranking['rank_date']<"2010-05-01")]
ranking_2006 = fifa_ranking[(fifa_ranking['rank_date']>"2006-04-01") & (fifa_ranking['rank_date']<"2006-05-01")]
ranking_2002 = fifa_ranking[(fifa_ranking['rank_date']>"2002-03-01") & (fifa_ranking['rank_date']<"2002-04-01")]
ranking_1998 = fifa_ranking[(fifa_ranking['rank_date']>"1998-04-01") & (fifa_ranking['rank_date']<"1998-05-01")]
ranking_1994 = fifa_ranking[(fifa_ranking['rank_date']>"1994-04-01") & (fifa_ranking['rank_date']<"1994-05-01")]

ranking_2018.drop_duplicates(keep='last',inplace=True)
ranking_2014.drop_duplicates(keep='last',inplace=True) 
ranking_2010.drop_duplicates(keep='last',inplace=True) 
ranking_2006.drop_duplicates(keep='last',inplace=True) 
ranking_2002.drop_duplicates(keep='last',inplace=True) 
ranking_1998.drop_duplicates(keep='last',inplace=True) 
ranking_1994.drop_duplicates(keep='last',inplace=True)

/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [7]:
df.loc[df.Year == 2018,'rank_Team1'] = df['Team1'].map(ranking_2018.set_index('country_full')['rank'])
df.loc[df.Year == 2018,'rank_Team2'] = df['Team2'].map(ranking_2018.set_index('country_full')['rank'])

df.loc[df.Year == 2014,'rank_Team1'] = df['Team1'].map(ranking_2014.set_index('country_full')['rank'])
df.loc[df.Year == 2014,'rank_Team2'] = df['Team2'].map(ranking_2014.set_index('country_full')['rank'])

df.loc[df.Year == 2010,'rank_Team1'] = df['Team1'].map(ranking_2010.set_index('country_full')['rank'])
df.loc[df.Year == 2010,'rank_Team2'] = df['Team2'].map(ranking_2010.set_index('country_full')['rank'])

df.loc[df.Year == 2006,'rank_Team1'] = df['Team1'].map(ranking_2006.set_index('country_full')['rank'])
df.loc[df.Year == 2006,'rank_Team2'] = df['Team2'].map(ranking_2006.set_index('country_full')['rank'])

df.loc[df.Year == 2002,'rank_Team1'] = df['Team1'].map(ranking_2002.set_index('country_full')['rank'])
df.loc[df.Year == 2002,'rank_Team2'] = df['Team2'].map(ranking_2002.set_index('country_full')['rank'])

df.loc[df.Year == 1998,'rank_Team1'] = df['Team1'].map(ranking_1998.set_index('country_full')['rank'])
df.loc[df.Year == 1998,'rank_Team2'] = df['Team2'].map(ranking_1998.set_index('country_full')['rank'])

df.loc[df.Year == 1994,'rank_Team1'] = df['Team1'].map(ranking_1994.set_index('country_full')['rank'])
df.loc[df.Year == 1994,'rank_Team2'] = df['Team2'].map(ranking_1994.set_index('country_full')['rank'])

df.loc[df.Year == 1990,'rank_Team1'] = df['Team1'].map(ranking_1994.set_index('country_full')['rank'])
df.loc[df.Year == 1990,'rank_Team2'] = df['Team2'].map(ranking_1994.set_index('country_full')['rank'])

In [8]:
df.head()

,Team1,Team2,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks,rank_Team1,rank_Team2
0,Russia,Saudi Arabia,Group Phase,Luzhniki Stadium,Moscow,18:00,14,6,2018,5,0,NaN,66.0,70.0
1,Egypt,Uruguay,Group Phase,Ekaterinburg Arena,Ekaterinburg,17:00,15,6,2018,0,1,NaN,46.0,17.0
2,Morocco,IR Iran,Group Phase,Saint Petersburg Stadium,St. Petersburg,18:00,15,6,2018,0,1,NaN,42.0,36.0
3,Portugal,Spain,Group Phase,Fisht Stadium,Sochi,21:00,15,6,2018,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0
4,France,Australia,Group Phase,Kazan Arena,Kazan,13:00,16,6,2018,2,1,NaN,7.0,40.0

In [9]:
df= df.drop(['Stadium','City','Time','Day','Month','Year'], axis=1)

In [10]:
df.head()
df.shape

(64, 8)

In [11]:
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0

In [20]:
#Adding Continent 
continent_list1 = []
continent_list2 = []

for i in range (len(df['Team1'])):
    if df['Team1'][i] in continent:
        continent_list1.append(continent[df['Team1'][i]])
    else:
        print(df['Team1'][i])
        
for j in range (len(df['Team2'])):   
    if df['Team2'][j] in continent:
        continent_list2.append(continent[df['Team2'][j]])

df['continent_team1'] = continent_list1
df['continent_team2'] = continent_list2
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia

In [21]:
df

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia
5,Argentina,Iceland,Group Phase,1,1,{WinTeamName} win on aggregate after regular t...,5.0,22.0,South America,Europe
6,Peru,Denmark,Group Phase,0,1,NaN,11.0,12.0,South America,Europe
7,Croatia,Nigeria,Group Phase,2,0,NaN,18.0,47.0,Europe,Africa
8,Costa Rica,Serbia,Group Phase,0,1,NaN,25.0,35.0,North America,Europe
9,Germany,Mexico,Group Phase,0,1,NaN,1.0,15.0,Europe,North America
10,Brazil,Switzerland,Group Phase,1,1,{WinTeamName} win on aggregate after regular t...,2.0,6.0,South America,Europe
11,Sweden,Korea Republic,Group Phase,1,0,NaN,23.0,61.0,Europe,Asia
12,Belgium,Panama,Group Phase,3,0,NaN,3.0,55.0,Europe,North America
13,Tunisia,England,Group Phase,1,2,NaN,14.0,13.0,Africa,Europe
14,Colombia,Japan,Group Phase,1,2,NaN,16.0,60.0,South America,Asia
15,Poland,Senegal,Group Phase,1,2,NaN,10.0,28.0,Europe,Africa
16,Russia,Egypt,Group Phase,3,1,NaN,66.0,46.0,Europe,Asia
17,Portugal,Morocco,Group Phase,1,0,NaN,4.0,42.0,Europe,Africa
18,Uruguay,Saudi Arabia,Group Phase,1,0,NaN,17.0,70.0,South America,Asia
19,IR Iran,Spain,Group Phase,0,1,NaN,36.0,8.0,Asia,Europe
20,Denmark,Australia,Group Phase,1,1,{WinTeamName} win on aggregate after regular t...,12.0,40.0,Europe,Australia
21,France,Peru,Group Phase,1,0,NaN,7.0,11.0,Europe,South America
22,Argentina,Croatia,Group Phase,0,3,NaN,5.0,18.0,South America,Europe
23,Brazil,Costa Rica,Group Phase,2,0,NaN,2.0,25.0,South America,North America
24,Nigeria,Iceland,Group Phase,2,0,NaN,47.0,22.0,Africa,Europe
25,Serbia,Switzerland,Group Phase,1,2,NaN,35.0,6.0,Europe,Europe
26,Belgium,Tunisia,Group Phase,5,2,NaN,3.0,14.0,Europe,Africa
27,Korea Republic,Mexico,Group Phase,1,2,NaN,61.0,15.0,Asia,North America
28,Germany,Sweden,Group Phase,2,1,NaN,1.0,23.0,Europe,Europe
29,England,Panama,Group Phase,6,1,NaN,13.0,55.0,Europe,North America
...,...,...,...,...,...,...,...,...,...,...
34,Spain,Morocco,Group Phase,2,2,{WinTeamName} win on aggregate after regular t...,8.0,42.0,Europe,Africa
35,IR Iran,Portugal,Group Phase,1,1,{WinTeamName} win on aggregate after regular t...,36.0,4.0,Asia,Europe
36,Australia,Peru,Group Phase,0,2,NaN,40.0,11.0,Australia,South America
37,Denmark,France,Group Phase,0,0,{WinTeamName} win on aggregate after regular t...,12.0,7.0,Europe,Europe
38,Nigeria,Argentina,Group Phase,1,2,NaN,47.0,5.0,Africa,South America
39,Iceland,Croatia,Group Phase,1,2,NaN,22.0,18.0,Europe,Europe
40,Korea Republic,Germany,Group Phase,2,0,NaN,61.0,1.0,Asia,Europe
41,Mexico,Sweden,Group Phase,0,3,NaN,15.0,23.0,North America,Europe
42,Serbia,Brazil,Group Phase,0,2,NaN,35.0,2.0,Europe,South America
43,Switzerland,Costa Rica,Group Phase,2,2,{WinTeamName} win on aggregate after regular t...,6.0,25.0,Europe,North America
44,Japan,Poland,Group Phase,0,1,NaN,60.0,10.0,Asia,Europe
45,Senegal,Colombia,Group Phase,0,1,NaN,28.0,16.0,Africa,South America
46,Panama,Tunisia,Group Phase,1,2,NaN,55.0,14.0,North America,Africa
47,England,Belgium,Group Phase,0,1,NaN,13.0,3.0,Europe,Europe
48,France,Argentina,Round of 16,4,3,NaN,7.0,5.0,Europe,South America
49,Uruguay,Portugal,Round of 16,2,1,NaN,17.0,4.0,South America,Europe
50,Spain,Russia,Round of 16,1,1,Russia win on penalties (3 - 4) RUS win after PSO,8.0,66.0,Europe,Europe
51,Croatia,Denmark,Round of 16,1,1,Croatia win on penalties (3 - 2) CRO win after...,18.0,12.0,Europe,Europe
52,Brazil,Mexico,Round of 16,2,0,NaN,2.0,15.0,South America,North America
53,Belgium,Japan,Round of 16,3,2,NaN,3.0,60.0,Europe,Asia
54,Sweden,Switzerland,Round of 16,1,0,NaN,23.0,6.0,Europe,Europe
55,Colombia,England,Round of 16,1,1,England win on penalties (3 - 4) ENG win after...,16.0,13.0,South America,Europe
56,Uruguay,France,Quarter Finals,0,2,NaN,17.0,7.0,South America,Europe
57,Brazil,Belgium,Quarter Finals,1,2,NaN,2.0,3.0,South America,Europe
58,Sweden,England,Quarter Finals,0,2,NaN,23.0,13.0,Europe,Europe
59,Russia,Croatia,Quarter Finals,2,2,Croatia win on penalties (3 - 4) CRO win after...,66.0,18.0,Europe,Europe
60,France,Belgium,Semi Finals,1,0,NaN,7.0,3.0,Europe,Europe
61,Croatia,England,Semi Finals,2,1,Croatia win after extra time CRO win AET,18.0,13.0,Europe,Europe
62,Belgium,England,Play-off for third place,2,0,NaN,3.0,13.0,Europe,Europe
63,France,Croatia,Finals,4,2,NaN,7.0,18.0,Europe,Europe

In [33]:
df[((df.continent_team1 == 'Europe') & (df.continent_team2 =='Asia')) |((df.continent_team2 == 'Asia') & (df.continent_team1 =='Europe'))]

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia
11,Sweden,Korea Republic,Group Phase,1,0,NaN,23.0,61.0,Europe,Asia
16,Russia,Egypt,Group Phase,3,1,NaN,66.0,46.0,Europe,Asia
53,Belgium,Japan,Round of 16,3,2,NaN,3.0,60.0,Europe,Asia

In [34]:
continent_dict = {"Australia":1, "Asia":2, "Europe":3, "Africa":4, "North America":5, "South America":6}
continent_encoded_team1 = []
continent_encoded_team2 = []


for i in range(len(df.continent_team1)):
    continent_encoded_team1.append(continent_dict[list(df.continent_team1)[i]])
    continent_encoded_team2.append(continent_dict[list(df.continent_team2)[i]])
    
df["continent_encoded_team1"] = continent_encoded_team1
df["continent_encoded_team2"] = continent_encoded_team2

In [35]:
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2,continent_encoded_team1,continent_encoded_team2
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia,3,2
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America,2,6
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia,4,2
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe,3,3
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia,3,1

In [38]:
#Adding who is the continent winner 
continent_winner = []
for i in range (len(df['Team1'])):
    if df['continent_encoded_team1'][i] > df['continent_encoded_team2'][i]:
        continent_winner.append(df['Team1'][i])
    elif df['continent_encoded_team1'][i] < df['continent_encoded_team2'][i]:
        continent_winner.append(df['Team2'][i])
        
    elif df['rank_Team1'][i] > df['rank_Team2'][i]:
        continent_winner.append(df['Team2'][i])
    else:
        continent_winner.append(df['Team1'][i])

df['continent_winner'] = continent_winner
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2,continent_encoded_team1,continent_encoded_team2,continent_winner
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia,3,2,Russia
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America,2,6,Uruguay
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia,4,2,Morocco
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe,3,3,Portugal
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia,3,1,France

In [ ]:
countries = list(set(df["Team1"]).union(set(df["Team2"])))
countries_dict = {}
for i in range(len(countries)):
    countries_dict[countries[i]] = i
    
Team1_encoded = []
Team2_encoded = []

for i in range(len(df)):
    Team1_encoded.append(countries_dict[list(df.Team1)[i]])
    Team2_encoded.append(countries_dict[list(df.Team2)[i]])
    
df["Team1"] = Team1_encoded
df["Team2"] = Team2_encoded

In [39]:
#Adding who is the winner 
winner = []
for i in range (len(df['Team1'])):
    if df['Score1'][i] > df['Score2'][i]:
        winner.append(df['Team1'][i])
    elif df['Score1'][i] < df['Score2'][i]:
        winner.append(df['Team2'][i])
    else:
        winner.append('Draw')

df['winner'] = winner
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2,continent_encoded_team1,continent_encoded_team2,continent_winner,winner
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia,3,2,Russia,Russia
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America,2,6,Uruguay,Uruguay
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia,4,2,Morocco,IR Iran
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe,3,3,Portugal,Draw
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia,3,1,France,France

In [40]:
df.isnull().sum()

Team1                       0
Team2                       0
Rounds                      0
Score1                      0
Score2                      0
Remarks                    50
rank_Team1                  0
rank_Team2                  0
continent_team1             0
continent_team2             0
continent_encoded_team1     0
continent_encoded_team2     0
continent_winner            0
winner                      0
dtype: int64

In [ ]:
df= df.drop(['Rounds'], axis=1)

In [41]:
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2,continent_encoded_team1,continent_encoded_team2,continent_winner,winner
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia,3,2,Russia,Russia
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America,2,6,Uruguay,Uruguay
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia,4,2,Morocco,IR Iran
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe,3,3,Portugal,Draw
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia,3,1,France,France

In [43]:
df4 = df[df.continent_winner==df.winner]

In [44]:
df4.shape

(29, 14)

In [51]:
23/64

0.359375

In [ ]:
df3= df[(df.Rounds !='Group Phase') & (df.winner == 'Draw')]

In [ ]:
df3

In [46]:
pred_winner = []
for j in range (len(df['Team1'])):
    if df['rank_Team1'][j] >= df['rank_Team2'][j]:
        pred_winner.append(df['Team2'][j])
    else:
        pred_winner.append(df['Team1'][j])
df['pred_win'] = pred_winner

In [47]:
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2,continent_encoded_team1,continent_encoded_team2,continent_winner,winner,pred_win
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia,3,2,Russia,Russia,Russia
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America,2,6,Uruguay,Uruguay,Uruguay
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia,4,2,Morocco,IR Iran,IR Iran
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe,3,3,Portugal,Draw,Portugal
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia,3,1,France,France,France

In [50]:
df[(df.continent_winner == df.winner) & (df.winner==df.pred_win)].shape

(23, 15)

In [ ]:
df= df.drop(['Score1','Score2'], axis=1)
X=df 
y = df.winner

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

model_tree= DecisionTreeClassifier()
model_tree.fit(X_train,y_train)

y_pred_tree = model_tree.predict(X_test)

accuracy_score(y_test, y_pred_tree)

In [ ]:
df2 = df[df.winner == df.pred_win]

In [ ]:
df2.shape

In [ ]:
35/64

In [ ]:
df.iloc[10:64]