In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [2]:
df = pd.read_csv("../datasets/final_data/FIFA 1990-2018 - Cleaned.csv")
df_teams = pd.read_csv("../datasets/final_data/world_cup_comparisons.csv")
fifa_ranking = pd.read_csv("../datasets/final_data/fifa_ranking.csv")

In [3]:
df=df.replace({"South Korea":"Korea Republic"})
df = df.replace({"Iran":"IR Iran"})
df = df.replace({"Soviet Union":"Russia"})
df = df.replace({"Czechoslovakia":"Czech Republic"})


df_teams=df_teams.replace({"South Korea":"Korea Republic"})
df_teams = df_teams.replace({"Iran":"IR Iran"})

fifa_ranking=fifa_ranking.replace({"South Korea":"Korea Republic"})
fifa_ranking = fifa_ranking.replace({"Iran":"IR Iran"})

In [4]:
df = df[df.Year ==2018]

In [5]:
#Asia=0 Europe=2 Africa =3 america =4

continent={'Russia':'Europe', 'Germany':'Europe','Brazil':'South America','Portugal':'Europe','Argentina':'South America','Belgium':'Europe','Poland':'Europe','France':'Europe',
            'Spain':'Europe','Peru':'South America','Switzerland':'Europe','England':'Europe','Colombia':'South America','Mexico':'North America','Uruguay':'South America','Croatia':'Europe',
            'Denmark':'Europe','Iceland':'Europe','Costa Rica':'North America','Sweden':'Europe','Tunisia':'Africa','Egypt':'Asia','Senegal':'Africa','IR Iran':'Asia',
            'Serbia':'Europe','Nigeria':'Africa','Australia':'Australia','Japan':'Asia','Morocco':'Africa','Panama':'North America','Korea Republic':'Asia','Saudi Arabia':'Asia'}

In [6]:
ranking_2018 = fifa_ranking[(fifa_ranking['rank_date']>"2018-04-01") & (fifa_ranking['rank_date']<"2018-05-01")]
ranking_2014 = fifa_ranking[(fifa_ranking['rank_date']>"2014-04-01") & (fifa_ranking['rank_date']<"2014-05-01")]
ranking_2010 = fifa_ranking[(fifa_ranking['rank_date']>"2010-04-01") & (fifa_ranking['rank_date']<"2010-05-01")]
ranking_2006 = fifa_ranking[(fifa_ranking['rank_date']>"2006-04-01") & (fifa_ranking['rank_date']<"2006-05-01")]
ranking_2002 = fifa_ranking[(fifa_ranking['rank_date']>"2002-03-01") & (fifa_ranking['rank_date']<"2002-04-01")]
ranking_1998 = fifa_ranking[(fifa_ranking['rank_date']>"1998-04-01") & (fifa_ranking['rank_date']<"1998-05-01")]
ranking_1994 = fifa_ranking[(fifa_ranking['rank_date']>"1994-04-01") & (fifa_ranking['rank_date']<"1994-05-01")]

ranking_2018.drop_duplicates(keep='last',inplace=True)
ranking_2014.drop_duplicates(keep='last',inplace=True) 
ranking_2010.drop_duplicates(keep='last',inplace=True) 
ranking_2006.drop_duplicates(keep='last',inplace=True) 
ranking_2002.drop_duplicates(keep='last',inplace=True) 
ranking_1998.drop_duplicates(keep='last',inplace=True) 
ranking_1994.drop_duplicates(keep='last',inplace=True)

/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/milad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [7]:
df.loc[df.Year == 2018,'rank_Team1'] = df['Team1'].map(ranking_2018.set_index('country_full')['rank'])
df.loc[df.Year == 2018,'rank_Team2'] = df['Team2'].map(ranking_2018.set_index('country_full')['rank'])

df.loc[df.Year == 2014,'rank_Team1'] = df['Team1'].map(ranking_2014.set_index('country_full')['rank'])
df.loc[df.Year == 2014,'rank_Team2'] = df['Team2'].map(ranking_2014.set_index('country_full')['rank'])

df.loc[df.Year == 2010,'rank_Team1'] = df['Team1'].map(ranking_2010.set_index('country_full')['rank'])
df.loc[df.Year == 2010,'rank_Team2'] = df['Team2'].map(ranking_2010.set_index('country_full')['rank'])

df.loc[df.Year == 2006,'rank_Team1'] = df['Team1'].map(ranking_2006.set_index('country_full')['rank'])
df.loc[df.Year == 2006,'rank_Team2'] = df['Team2'].map(ranking_2006.set_index('country_full')['rank'])

df.loc[df.Year == 2002,'rank_Team1'] = df['Team1'].map(ranking_2002.set_index('country_full')['rank'])
df.loc[df.Year == 2002,'rank_Team2'] = df['Team2'].map(ranking_2002.set_index('country_full')['rank'])

df.loc[df.Year == 1998,'rank_Team1'] = df['Team1'].map(ranking_1998.set_index('country_full')['rank'])
df.loc[df.Year == 1998,'rank_Team2'] = df['Team2'].map(ranking_1998.set_index('country_full')['rank'])

df.loc[df.Year == 1994,'rank_Team1'] = df['Team1'].map(ranking_1994.set_index('country_full')['rank'])
df.loc[df.Year == 1994,'rank_Team2'] = df['Team2'].map(ranking_1994.set_index('country_full')['rank'])

df.loc[df.Year == 1990,'rank_Team1'] = df['Team1'].map(ranking_1994.set_index('country_full')['rank'])
df.loc[df.Year == 1990,'rank_Team2'] = df['Team2'].map(ranking_1994.set_index('country_full')['rank'])

In [ ]:
df.head()

In [8]:
df= df.drop(['Stadium','City','Time','Day','Month','Year'], axis=1)
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0

In [9]:
#Adding Continent 
continent_list1 = []
continent_list2 = []

for i in range (len(df['Team1'])):
    if df['Team1'][i] in continent:
        continent_list1.append(continent[df['Team1'][i]])
    else:
        print(df['Team1'][i])
        
for j in range (len(df['Team2'])):   
    if df['Team2'][j] in continent:
        continent_list2.append(continent[df['Team2'][j]])

df['continent_team1'] = continent_list1
df['continent_team2'] = continent_list2
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia

In [34]:
#Adding who is the winner 
prediction_winner = []
Flag =False
isDraw =False
for i in range (len(df['Team1'])):
    Flag =False
    isDraw =False
    if df['Rounds'][i] == 'Group Phase':
        random = np.random.uniform(0,1,1)
        print(random)
        if random[0] < 0.0:
            prediction_winner.append('Draw')
            print("X")
            isDraw =True
            
    if isDraw ==False:   
        Flag = False

        if (Flag ==False) & ((df['continent_team1'][i]=='Europe') & (df['continent_team2'][i]=='Asia')):
            prediction_winner.append(df['Team1'][i])
            Flag = True

        if (Flag ==False) & ((df['continent_team2'][i]=='Europe') & (df['continent_team1'][i]=='Asia')):
            prediction_winner.append(df['Team2'][i])
            Flag = True

        if (Flag ==False) & ((df['continent_team1'][i]=='South America') & (df['continent_team2'][i]=='Asia')):
            prediction_winner.append(df['Team1'][i])
            Flag = True

        if (Flag ==False) & ((df['continent_team2'][i]=='South America') & (df['continent_team1'][i]=='Asia')):
            prediction_winner.append(df['Team2'][i])
            Flag = True


        if (Flag ==False) & ((df['continent_team1'][i]=='South America') & (df['continent_team2'][i]=='Australia')):
            prediction_winner.append(df['Team1'][i])
            Flag = True

        if (Flag == False) & ((df['continent_team2'][i]=='South America') & (df['continent_team1'][i]=='Australia')):
            prediction_winner.append(df['Team2'][i])
            Flag = True

        if (Flag ==False) & (df['rank_Team1'][i] >= df['rank_Team2'][i]):
            prediction_winner.append(df['Team2'][i])
            Flag = True


        if (Flag ==False) & (df['rank_Team2'][i] >= df['rank_Team1'][i]):
            prediction_winner.append(df['Team1'][i])
            Flag = True



df['prediction_winner'] = prediction_winner
df.head()

[ 0.5255155]
[ 0.19072273]
[ 0.72643102]
[ 0.52977848]
[ 0.44308043]
[ 0.74078899]
[ 0.11876637]
[ 0.44489669]
[ 0.61549479]
[ 0.60687457]
[ 0.52462403]
[ 0.95009024]
[ 0.14451743]
[ 0.50582773]
[ 0.1943231]
[ 0.44184252]
[ 0.80078259]
[ 0.28473544]
[ 0.20456367]
[ 0.46915006]
[ 0.60860884]
[ 0.13090754]
[ 0.0344114]
[ 0.71457829]
[ 0.21456326]
[ 0.78547387]
[ 0.05636026]
[ 0.83666637]
[ 0.94958632]
[ 0.53395203]
[ 0.15446186]
[ 0.37359442]
[ 0.18681384]
[ 0.42486889]
[ 0.85071158]
[ 0.3866842]
[ 0.59393437]
[ 0.08830658]
[ 0.28221158]
[ 0.49308071]
[ 0.35028233]
[ 0.36022059]
[ 0.45664056]
[ 0.12967056]
[ 0.75187198]
[ 0.33431086]
[ 0.20350816]
[ 0.03088956]

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2,prediction_winner,winner
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia,Russia,Russia
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America,Uruguay,Uruguay
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia,IR Iran,IR Iran
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe,Portugal,-1
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia,France,France

In [12]:
len(prediction_winner)

12

In [ ]:
# continent_dict = {"Australia":1, "Asia":2, "Europe":3, "Africa":4, "North America":5, "South America":6}
# continent_encoded_team1 = []
# continent_encoded_team2 = []


# for i in range(len(df.continent_team1)):
#     continent_encoded_team1.append(continent_dict[list(df.continent_team1)[i]])
#     continent_encoded_team2.append(continent_dict[list(df.continent_team2)[i]])
    
# df["continent_encoded_team1"] = continent_encoded_team1
# df["continent_encoded_team2"] = continent_encoded_team2

In [ ]:
# #Adding who is the continent winner 
# continent_winner = []
# for i in range (len(df['Team1'])):
#     if df['continent_encoded_team1'][i] > df['continent_encoded_team2'][i]:
#         continent_winner.append(df['Team1'][i])
#     elif df['continent_encoded_team1'][i] < df['continent_encoded_team2'][i]:
#         continent_winner.append(df['Team2'][i])
        
#     elif df['rank_Team1'][i] > df['rank_Team2'][i]:
#         continent_winner.append(df['Team2'][i])
#     else:
#         continent_winner.append(df['Team1'][i])


# df['continent_winner'] = continent_winner
# df.head()

In [ ]:
countries = list(set(df["Team1"]).union(set(df["Team2"])))
countries_dict = {}
for i in range(len(countries)):
    countries_dict[countries[i]] = i
    
Team1_encoded = []
Team2_encoded = []

for i in range(len(df)):
    Team1_encoded.append(countries_dict[list(df.Team1)[i]])
    Team2_encoded.append(countries_dict[list(df.Team2)[i]])
    
df["Team1"] = Team1_encoded
df["Team2"] = Team2_encoded

In [15]:
#Adding who is the winner 
winner = []
for i in range (len(df['Team1'])):
    if df['Score1'][i] > df['Score2'][i]:
        winner.append(df['Team1'][i])
    elif df['Score1'][i] < df['Score2'][i]:
        winner.append(df['Team2'][i])
    else:
        winner.append('-1')

df['winner'] = winner
df.head()

,Team1,Team2,Rounds,Score1,Score2,Remarks,rank_Team1,rank_Team2,continent_team1,continent_team2,prediction_winner,winner
0,Russia,Saudi Arabia,Group Phase,5,0,NaN,66.0,70.0,Europe,Asia,Draw,Russia
1,Egypt,Uruguay,Group Phase,0,1,NaN,46.0,17.0,Asia,South America,Uruguay,Uruguay
2,Morocco,IR Iran,Group Phase,0,1,NaN,42.0,36.0,Africa,Asia,IR Iran,IR Iran
3,Portugal,Spain,Group Phase,3,3,{WinTeamName} win on aggregate after regular t...,4.0,8.0,Europe,Europe,Draw,-1
4,France,Australia,Group Phase,2,1,NaN,7.0,40.0,Europe,Australia,France,France

In [ ]:
df= df.drop(['Remarks','City','Time','Month','Year','continent_team1','continent_team2'], axis=1)
df.head()

In [ ]:
df5 =  df[df.prediction_winner!=df.winner]

In [ ]:
df5

In [ ]:
df5.shape

In [ ]:
df.isnull().sum()

In [35]:
df4 = df[df.prediction_winner==df.winner]

In [36]:
df4.shape

(34, 12)

In [37]:
34/64

0.53125

In [ ]:
df

In [ ]:
df[df.winner == 'Draw']

In [ ]:
pred_winner = []
for j in range (len(df['Team1'])):
    if df['rank_Team1'][j] >= df['rank_Team2'][j]:
        pred_winner.append(df['Team2'][j])
    else:
        pred_winner.append(df['Team1'][j])
df['pred_win'] = pred_winner

In [ ]:
df.head()

In [ ]:
df2 = df[df.winner == df.pred_win]

In [ ]:
df2.shape

In [ ]:
df[df.winner == 'Draw']

In [ ]:
35/64

In [ ]:
df= df.drop(['Score1','Score2','Remarks'], axis=1)
df.head()

In [ ]:
X_train = df[df.Rounds =='Group Phase']
X_test = df[df.Rounds !='Group Phase']

In [ ]:
y_train =X_train['winner'] 
y_test = X_test['winner']

In [ ]:
X_train= X_train.drop(['Rounds','winner'], axis=1)
X_test=  X_test.drop(['Rounds','winner'], axis=1)

In [ ]:
X_train= X_train.drop(['prediction_winner'], axis=1)
X_test=  X_test.drop(['prediction_winner'], axis=1)

In [ ]:
X_train.head()

In [ ]:
y_train =y_train.astype('int')
y_test =y_test.astype('int')

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

model_tree= DecisionTreeClassifier()
model_tree.fit(X_train,y_train)

y_pred_tree = model_tree.predict(X_test)

accuracy_score(y_test, y_pred_tree)

In [ ]:
type(y_train)

In [ ]:
35/64

In [ ]:
df.iloc[10:64]