# import packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Importing libraries

In [2]:
world_cup = pd.read_csv("../datasets/World Cup 2018 Dataset.csv")
results = pd.read_csv("../datasets/results.csv")

In [3]:
winner = []
for i in range (len(results['home_team'])):
    if results['home_score'][i] > results['away_score'][i]:
        winner.append(results['home_team'][i])
    elif results['home_score'][i] < results['away_score'][i]:
        winner.append(results['away_team'][i])
    else:
        winner.append("Draw")
results['winning_team'] = winner

#adding goal differe column 

results['goal_difference']= np.absolute(results['home_score']-results['away_score'])
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Draw,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England,2
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Draw,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Scotland,3

In [4]:
# work with subset of data

df=results[(results['home_team']=='Nigeria') | (results['away_team'] =='Nigeria')]
nigeria = df.iloc[:]
nigeria.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference
2977,1949-10-08,Sierra Leone,Nigeria,0,2,Friendly,Freetown,Sierra Leone,False,Nigeria,2
3050,1950-05-28,Ghana,Nigeria,1,0,Friendly,Accra,Gold Coast,False,Ghana,1
3219,1951-10-20,Nigeria,Ghana,5,0,Friendly,Lagos,Nigeria,False,Nigeria,5
3492,1953-10-11,Ghana,Nigeria,1,0,Friendly,Accra,Gold Coast,False,Ghana,1
3654,1954-10-30,Nigeria,Ghana,3,0,Friendly,Lagos,Nigeria,False,Nigeria,3

In [5]:
year =[]
for row in nigeria['date']:
    year.append(int(row[:4]))
    
nigeria['match_year'] = year
nigeria_1930 = nigeria[nigeria.match_year >= 1930]
nigeria_1930.count()

date               548
home_team          548
away_team          548
home_score         548
away_score         548
tournament         548
city               548
country            548
neutral            548
winning_team       548
goal_difference    548
match_year         548
dtype: int64

In [6]:
worldcup_teams =['Australia', 'Iran','Japan','Korea Republic',
                 'Saudi Arabia', 'Egypt','Morocco',
                 'Nigeria', 'Senegal','Tunisia',
                 'Costa Rica','Mexico', 'Panama','Argentina'
                 ,'Brazil', 'Colombia' 'Peru',
                 'Uruguay', 'Belgium', 'croatia', 'Denmark',
                 'England','France', 'Iceland',
                 'Poland', 'Portugal','Russia',
                 'Serbia','Spain', 'Germany', 'sweden',
                 'switzerland']

In [7]:
len(worldcup_teams)

31

In [8]:
df_teams_home = results[results['home_team'].isin(worldcup_teams)]
df_teams_away = results[results['away_team'].isin(worldcup_teams)]
df_teams =pd.concat ((df_teams_home, df_teams_away)) 
df_teams.drop_duplicates() 
df_teams.count()

date               18058
home_team          18058
away_team          18058
home_score         18058
away_score         18058
tournament         18058
city               18058
country            18058
neutral            18058
winning_team       18058
goal_difference    18058
dtype: int64

In [9]:
#create an year column to drop games before 1930 
year=[]
for row in df_teams ['date']: 
    year.append (int (row[:4]))
df_teams['match_year']=year
df_teams_1930 = df_teams[df_teams.match_year>=1930]
df_teams_1930.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference,match_year
1230,1930-01-01,Spain,Czechoslovakia,1,0,Friendly,Barcelona,Spain,False,Spain,1,1930
1231,1930-01-12,Portugal,Czechoslovakia,1,0,Friendly,Lisbon,Portugal,False,Portugal,1,1930
1237,1930-02-23,Portugal,France,2,0,Friendly,Porto,Portugal,False,Portugal,2,1930
1238,1930-03-02,Germany,Italy,0,2,Friendly,Frankfurt am Main,Germany,False,Italy,2,1930
1240,1930-03-23,France,Switzerland,3,3,Friendly,Colombes,France,False,Draw,0,1930

In [10]:
#drop col that they dont influence matches
df_teams_1930 = df_teams.drop(['date','home_score','away_score',
                              'tournament','city','country'])
df_teams_1930.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference,match_year
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England,2,1873
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Draw,0,1875
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,Scotland,2,1877
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False,England,1,1879
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,England,1,1879

In [11]:
#build a model

df_teams_1930 = df_teams_1930.reset_index(drop=True)
df_teams_1930.loc[df_teams_1930.winning_team == df_teams_1930.home_team,'winning_team']=2
df_teams_1930.loc[df_teams_1930.winning_team == 'Draw','winning_team']=1
df_teams_1930.loc[df_teams_1930.winning_team ==df_teams_1930.away_team,'winning_team']=0
df_teams_1930.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference,match_year
0,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,2,2,1873
1,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1,0,1875
2,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,0,2,1877
3,1879-01-18,England,Wales,2,1,Friendly,London,England,False,2,1,1879
4,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,2,1,1879

In [65]:
df_teams_1930[(df_teams_1930['match_year']==1989) & (df_teams_1930['home_team'] == "Argentina")]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference,match_year
4287,1989-07-02,Argentina,Chile,1,0,Copa América,Goiânia,Brazil,True,2,1,1989
4290,1989-07-04,Argentina,Ecuador,0,0,Copa América,Goiânia,Brazil,True,1,0,1989
4295,1989-07-10,Argentina,Bolivia,0,0,Copa América,Goiânia,Brazil,True,1,0,1989
4297,1989-07-14,Argentina,Uruguay,0,2,Copa América,Rio de Janeiro,Brazil,True,0,2,1989
13529,1989-07-14,Argentina,Uruguay,0,2,Copa América,Rio de Janeiro,Brazil,True,0,2,1989

In [59]:
final =pd.get_dummies(df_teams_1930,prefix=['home_team','away_team'],columns=['home_team','away_team'])
final= final.drop(['date','tournament','city','country','neutral'],axis=1)
#seprate the X and y

X=final.drop(['winning_team'],axis=1)
y=final['winning_team']
y=y.astype('int')

x_train,x_test,y_train,y_test =train_test_split(X,y,test_size=0.30,random_state=42)

In [73]:
final.head()

,home_score,away_score,winning_team,goal_difference,match_year,home_team_Afghanistan,home_team_Albania,home_team_Algeria,home_team_Andorra,home_team_Angola,...,away_team_Venezuela,away_team_Vietnam,away_team_Vietnam Republic,away_team_Wales,away_team_Western Australia,away_team_Yemen,away_team_Yemen DPR,away_team_Yugoslavia,away_team_Zambia,away_team_Zimbabwe
0,4,2,2,2,1873,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2,1,0,1875,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,0,2,1877,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,1,2,1,1879,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,5,4,2,1,1879,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
logreg= LogisticRegression()
logreg.fit(x_train,y_train)
print(logreg.score(x_test,y_test))

1.0

In [75]:
world_cup

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,First match against,Match index,history with first opponent W-L,history with first opponent goals,Second match against,Match index.1,history with second opponent W-L,history with second opponent goals,Third match against,Match index.2,history with third opponent W-L,history with third opponent goals,Unnamed: 19
0,Russia,A,10.0,0.0,0.0,1.0,65.0,Saudi Arabia,1.0,-1.0,-2.0,Egypt,17.0,NaN,NaN,Uruguay,33.0,0.0,0.0,NaN
1,Saudi Arabia,A,4.0,0.0,0.0,0.0,63.0,Russia,1.0,1.0,2.0,Uruguay,18.0,1.0,1.0,Egypt,34.0,-5.0,-5.0,NaN
2,Egypt,A,2.0,0.0,0.0,0.0,31.0,Uruguay,2.0,-1.0,-2.0,Russia,17.0,NaN,NaN,Saudi Arabia,34.0,5.0,5.0,NaN
3,Uruguay,A,12.0,2.0,2.0,5.0,21.0,Egypt,2.0,1.0,2.0,Saudi Arabia,18.0,-1.0,-1.0,Russia,33.0,0.0,0.0,NaN
4,Porugal,B,6.0,0.0,0.0,2.0,3.0,Spain,3.0,-12.0,-31.0,Morocco,19.0,-1.0,-2.0,Iran,35.0,2.0,5.0,NaN
5,Spain,B,14.0,1.0,1.0,2.0,6.0,Portugal,3.0,12.0,31.0,Iran,20.0,NaN,NaN,Morocco,36.0,5.0,7.0,NaN
6,Morocco,B,4.0,0.0,0.0,0.0,40.0,Iran,4.0,-2.0,-2.0,Portugal,19.0,1.0,2.0,Spain,36.0,-5.0,-7.0,NaN
7,IRAN,B,4.0,0.0,0.0,0.0,32.0,Morocco,4.0,2.0,2.0,Spain,20.0,NaN,NaN,Portugal,35.0,-2.0,-5.0,NaN
8,France,C,14.0,1.0,2.0,5.0,9.0,Australia,5.0,1.0,6.0,Peru,21.0,-1.0,-1.0,Denmark,37.0,4.0,9.0,NaN
9,Australia,C,4.0,0.0,0.0,0.0,39.0,France,5.0,-1.0,-6.0,Denmark,22.0,-1.0,-3.0,Peru,38.0,NaN,NaN,NaN
10,Peru,C,4.0,0.0,0.0,0.0,11.0,Denmark,6.0,NaN,NaN,France,21.0,1.0,1.0,Australia,38.0,NaN,NaN,NaN
11,Denmark,C,4.0,0.0,0.0,0.0,12.0,Peru,6.0,NaN,NaN,Australia,22.0,1.0,3.0,France,37.0,-4.0,-9.0,NaN
12,Argentina,D,16.0,2.0,5.0,5.0,4.0,Iceland,7.0,NaN,NaN,Croatia,23.0,1.0,0.0,Nigeria,39.0,3.0,1.0,NaN
13,Iceland,D,0.0,0.0,0.0,0.0,22.0,Argentina,7.0,NaN,NaN,Nigeria,24.0,1.0,3.0,Croatia,40.0,-3.0,-9.0,NaN
14,Croatia,D,4.0,0.0,0.0,1.0,17.0,Nigeria,8.0,NaN,NaN,Argentina,23.0,-1.0,0.0,Iceland,40.0,3.0,9.0,NaN
15,Nigeria,D,5.0,0.0,0.0,0.0,50.0,Croatia,8.0,NaN,NaN,Iceland,24.0,-1.0,-3.0,Argentina,39.0,-3.0,-1.0,NaN
16,Brazil,E,20.0,5.0,7.0,11.0,2.0,Switzerland,9.0,1.0,2.0,Costarica,25.0,8.0,19.0,Serbia,41.0,1.0,1.0,NaN
17,Switzerland,E,10.0,0.0,0.0,0.0,8.0,Brazil,9.0,-1.0,-2.0,Serbia,26.0,NaN,NaN,Costarica,42.0,0.0,1.0,NaN
18,Costarica,E,4.0,0.0,0.0,0.0,26.0,Serbia,10.0,NaN,NaN,Brazil,25.0,-8.0,-19.0,Switzerland,42.0,0.0,-1.0,NaN
19,Serbia,E,11.0,0.0,0.0,2.0,37.0,Costarica,10.0,NaN,NaN,Switzerland,26.0,NaN,NaN,Brazil,41.0,-1.0,-1.0,NaN
20,Germany,F,18.0,4.0,8.0,13.0,1.0,Mexico,11.0,4.0,13.0,Sweden,27.0,2.0,10.0,Korea,43.0,1.0,0.0,NaN
21,Mexico,F,15.0,0.0,0.0,0.0,16.0,Germany,11.0,-4.0,-13.0,Korea,28.0,1.0,12.0,Sweden,44.0,-2.0,-3.0,NaN
22,Sweden,F,11.0,0.0,1.0,4.0,18.0,Korea,12.0,1.0,2.0,Germany,27.0,-2.0,-10.0,Mexico,44.0,2.0,3.0,NaN
23,Korea,F,9.0,0.0,0.0,1.0,59.0,Sweden,12.0,-1.0,-2.0,Mexico,28.0,-1.0,-10.0,Germany,43.0,-1.0,0.0,NaN
24,Belgium,G,12.0,0.0,0.0,1.0,5.0,Panama,13.0,NaN,NaN,Tunisia,29.0,0.0,0.0,England,45.0,-17.0,-70.0,NaN
25,Panama,G,0.0,0.0,0.0,0.0,56.0,Belgium,13.0,NaN,NaN,England,30.0,NaN,NaN,Tunisia,46.0,NaN,NaN,NaN
26,Tunisia,G,4.0,0.0,0.0,0.0,27.0,England,14.0,-1.0,-2.0,Belgium,29.0,0.0,0.0,Panama,46.0,NaN,NaN,NaN
27,England,G,14.0,1.0,1.0,2.0,15.0,Tunisia,14.0,1.0,2.0,Panama,30.0,NaN,NaN,Belgium,45.0,17.0,70.0,NaN
28,Poland,H,7.0,0.0,0.0,2.0,7.0,Senegal,15.0,NaN,NaN,Columbia,31.0,NaN,NaN,Japan,47.0,2.0,3.0,NaN
29,Senegal,H,1.0,0.0,0.0,0.0,23.0,Poland,15.0,NaN,NaN,Japan,32.0,2.0,3.0,Columbia,48.0,0.0,0.0,NaN
30,Columbia,H,5.0,0.0,0.0,0.0,13.0,Japan,16.0,2.0,2.0,Poland,31.0,NaN,NaN,Senegal,48.0,0.0,0.0,NaN
31,Japan,H,5.0,0.0,0.0,0.0,55.0,Columbia,16.0,-2.0,-2.0,Senegal,32.0,-2.0,-3.0,Poland,47.0,-2.0,-3.0,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN